Repository measure-sh/measure, pull requests merged in 2024-10, with the labels that each got.

#1307 chore(ios): save events and sessions to core data
  ios/MeasureSDK/MeasureSDK.xcodeproj/project.pbxproj
  ios/MeasureSDK/MeasureSDK/CoreData/CoreDataManager.swift
  ios/MeasureSDK/MeasureSDK/CoreData/Entities/EventEntity.swift
  ios/MeasureSDK/MeasureSDK/CoreData/Entities/SessionEntity.swift
  ios/MeasureSDK/MeasureSDK/CoreData/EventStore.swift
  ios/MeasureSDK/MeasureSDK/CoreData/SessionStore.swift
  ios/MeasureSDK/MeasureSDK/Events/Event.swift
  ios/MeasureSDK/MeasureSDK/Events/EventProcessor.swift
  ios/MeasureSDK/MeasureSDK/Measure.swift
  ios/MeasureSDK/MeasureSDK/MeasureInitializer.swift
  ios/MeasureSDK/MeasureSDK/MeasureInternal.swift
  ios/MeasureSDK/MeasureSDK/SessionManager.swift
  ios/MeasureSDK/MeasureSDK/Utils/Constants.swift
  ios/MeasureSDK/MeasureSDK/Utils/Extensions/NSManagedObjectContext+Extension.swift
  ios/MeasureSDK/MeasureSDK/Utils/MeasureQueue.swift
  ios/MeasureSDK/MeasureSDK/XCDataModel/MeasureModel.xcdatamodeld/MeasureModel.xcdatamodel/contents
  ios/MeasureSDK/MeasureSDKTests/Attribute/AttributeProcessorTests.swift
  ios/MeasureSDK/MeasureSDKTests/CoreData/EventStoreTests.swift
  ios/MeasureSDK/MeasureSDKTests/CoreData/SessionStoreTests.swift
  ios/MeasureSDK/MeasureSDKTests/CrashReporter/CrashDataFormatterTests.swift
  ios/MeasureSDK/MeasureSDKTests/CrashReporter/CrashReportingManagerTests.swift
  ios/MeasureSDK/MeasureSDKTests/Event/EventProcessorTests.swift
  ios/MeasureSDK/MeasureSDKTests/Helper/Attachment+Extension.swift
  ios/MeasureSDK/MeasureSDKTests/Helper/Attributes+Extension.swift
  ios/MeasureSDK/MeasureSDKTests/Helper/Exception+Extension.swift
  ios/MeasureSDK/MeasureSDKTests/Helper/FileManagerHelper.swift
  ios/MeasureSDK/MeasureSDKTests/Mocks/MockCoreDataManager.swift
  ios/MeasureSDK/MeasureSDKTests/Mocks/MockCrashDataPersistence.swift
  ios/MeasureSDK/MeasureSDKTests/Mocks/MockEventProcessor.swift
  ios/MeasureSDK/MeasureSDKTests/Mocks/MockEventStore.swift
  ios/MeasureSDK/MeasureSDKTests/Mocks/MockSessionManager.swift
  ios/MeasureSDK/MeasureSDKTests/Mocks/MockSystemCrashReporter.swift
  ios/MeasureSDK/MeasureSDKTests/Mocks/MockSystemTime.swift
  ios/MeasureSDK/MeasureSDKTests/SessionManagerTests.swift
Labels: chore, ios

#1318 refactor(backend): missing db close
  backend/api/group/group.go
  backend/api/measure/app.go
Labels: chore, backend

#1327 fix(android): track fragment lifecycle events when r8 is enabled
  android/measure/consumer-rules.pro
Labels: bug, android

#1331 fix(backend): prevent duplicate ingestion of events
  backend/api/measure/event.go
  docs/api/sdk/README.md
  self-host/postgres/20241011140121_alter_event_reqs.sql
Labels: bug, backend

#1324 chore: detect gestures on iOS
  ios/MeasureDemo/MeasureDemo.xcodeproj/project.pbxproj
  ios/MeasureDemo/MeasureDemo/AppDelegate/AppDelegate.swift
  ios/MeasureDemo/MeasureDemo/AppDelegate/SceneDelegate.swift
  ios/MeasureDemo/MeasureDemo/Base.lproj/Main.storyboard
  ios/MeasureDemo/MeasureDemo/Controller/CollectionViewController.swift
  ios/MeasureDemo/MeasureDemo/Controller/ControlsViewController.swift
  ios/MeasureDemo/MeasureDemo/Controller/ObjcDetailViewController.h
  ios/MeasureDemo/MeasureDemo/Controller/ObjcDetailViewController.m
  ios/MeasureDemo/MeasureDemo/Controller/SwiftUIDetailViewController.swift
  ios/MeasureDemo/MeasureDemo/Controller/ViewController.swift
  ios/MeasureDemo/MeasureDemo/MeasureDemo-Bridging-Header.h
  ios/MeasureSDK/MeasureSDK.xcodeproj/project.pbxproj
  ios/MeasureSDK/MeasureSDK/Config/BaseConfigProvider.swift
  ios/MeasureSDK/MeasureSDK/Config/Config.swift
  ios/MeasureSDK/MeasureSDK/Config/InternalConfig.swift
  ios/MeasureSDK/MeasureSDK/CrashReporter/CrashDataPersistence.swift
  ios/MeasureSDK/MeasureSDK/CrashReporter/CrashReportingManager.swift
  ios/MeasureSDK/MeasureSDK/Events/Event.swift
  ios/MeasureSDK/MeasureSDK/Events/EventProcessor.swift
  ios/MeasureSDK/MeasureSDK/Events/EventType.swift
  ios/MeasureSDK/MeasureSDK/Gestures/GestureCollector.swift
  ios/MeasureSDK/MeasureSDK/Gestures/GestureDetector.swift
  ios/MeasureSDK/MeasureSDK/Gestures/GestureEvents.swift
  ios/MeasureSDK/MeasureSDK/Gestures/GestureTargetFinder.swift
  ios/MeasureSDK/MeasureSDK/MeasureInitializer.swift
  ios/MeasureSDK/MeasureSDK/MeasureInternal.swift
  ios/MeasureSDK/MeasureSDK/Utils/Constants.swift
  ios/MeasureSDK/MeasureSDK/Utils/Extensions/NSObject+Extension.swift
  ios/MeasureSDK/MeasureSDK/Utils/Extensions/UIWindow+Extension.swift
  ios/MeasureSDK/MeasureSDKTests/CrashReporter/CrashReportingManagerTests.swift
  ios/MeasureSDK/MeasureSDKTests/Event/EventProcessorTests.swift
  ios/MeasureSDK/MeasureSDKTests/Gestures/GestureTargetFinderTests.swift
  ios/MeasureSDK/MeasureSDKTests/Mocks/MockConfigProvider.swift
  ios/MeasureSDK/MeasureSDKTests/SessionManagerTests.swift
Labels: chore, ios

#1341 fix(backend): increase thread name character limit
  backend/api/event/attribute.go
  self-host/clickhouse/20241015073422_alter_events_table.sql
Labels: bug, backend

#1342 fix(backend): increase app version character limit
  backend/api/event/attribute.go
  self-host/clickhouse/20241015075419_alter_events_table.sql
Labels: bug, backend

#1345 fix(backend): occasional runtime panic during ingestion
  backend/api/event/event.go
Labels: bug, backend

#1363 docs(backend): update incorrect json key name
  docs/api/sdk/README.md
Labels: docs, backend

#1365 chore(ios): update event store to save gesture data
  ios/MeasureSDK/CoreData/Entities/EventEntity.swift
  ios/MeasureSDK/CoreData/EventStore.swift
  ios/MeasureSDK/XCDataModel/MeasureModel.xcdatamodeld/MeasureModel.xcdatamodel/contents
Labels: chore, ios

#1372 feat(android): improve session management
  android/benchmarks/benchmarkData/startup-benchmark/18-10-2024-msr-enabled.json
  android/measure/src/androidTest/java/sh/measure/android/EventsTest.kt
  android/measure/src/androidTest/java/sh/measure/android/EventsTestRobot.kt
  android/measure/src/androidTest/java/sh/measure/android/FakeConfigProvider.kt
  android/measure/src/androidTest/java/sh/measure/android/FakeTimeProvider.kt
  android/measure/src/androidTest/java/sh/measure/android/SessionTest.kt
  android/measure/src/androidTest/java/sh/measure/android/SessionTestRobot.kt
  android/measure/src/androidTest/java/sh/measure/android/TestMeasureInitializer.kt
  android/measure/src/main/java/sh/measure/android/MeasureInitializer.kt
  android/measure/src/main/java/sh/measure/android/MeasureInternal.kt
  android/measure/src/main/java/sh/measure/android/RecentSession.kt
  android/measure/src/main/java/sh/measure/android/SessionManager.kt
  android/measure/src/main/java/sh/measure/android/appexit/AppExitCollector.kt
  android/measure/src/main/java/sh/measure/android/config/Config.kt
  android/measure/src/main/java/sh/measure/android/config/InternalConfig.kt
  android/measure/src/main/java/sh/measure/android/events/EventProcessor.kt
  android/measure/src/main/java/sh/measure/android/storage/Database.kt
  android/measure/src/main/java/sh/measure/android/storage/DbConstants.kt
  android/measure/src/main/java/sh/measure/android/storage/DbMigrations.kt
  android/measure/src/main/java/sh/measure/android/storage/Entities.kt
  android/measure/src/main/java/sh/measure/android/storage/PrefsStorage.kt
  android/measure/src/test/java/sh/measure/android/DbMigrationTest.kt
  android/measure/src/test/java/sh/measure/android/SessionManagerTest.kt
  android/measure/src/test/java/sh/measure/android/appexit/AppExitCollectorTest.kt
  android/measure/src/test/java/sh/measure/android/attributes/UserAttributeProcessorTest.kt
  android/measure/src/test/java/sh/measure/android/events/EventProcessorTest.kt
  android/measure/src/test/java/sh/measure/android/exporter/EventExporterTest.kt
  android/measure/src/test/java/sh/measure/android/fakes/FakeSessionManager.kt
  android/measure/src/test/java/sh/measure/android/fakes/TestData.kt
  android/measure/src/test/java/sh/measure/android/storage/DatabaseTest.kt
  android/measure/src/test/java/sh/measure/android/storage/PrefsStorageTest.kt
  docs/android/README.md
Labels: feature, android

#1379 fix(android): ignore duplicate inserts to app exit
  android/measure/src/main/java/sh/measure/android/storage/Database.kt
Labels: bug, android

#1382 chore(android): remove unnecessary logs for launch tracking
  android/measure/src/main/java/sh/measure/android/applaunch/AppLaunchCollector.kt
  android/measure/src/main/java/sh/measure/android/applaunch/LaunchTracker.kt
Labels: chore, android

#1383 chore(android): support latest stable compose-navigation
  android/measure-android-gradle/src/main/kotlin/sh/measure/asm/NavigationTransformer.kt
Labels: chore, android

#1384 chore(android): remove low memory event
  android/measure/src/androidTest/java/sh/measure/android/TestMeasureInitializer.kt
  android/measure/src/main/java/sh/measure/android/MeasureInitializer.kt
  android/measure/src/main/java/sh/measure/android/events/EventType.kt
  android/measure/src/main/java/sh/measure/android/performance/ComponentCallbacksCollector.kt
  android/measure/src/main/java/sh/measure/android/performance/MemoryEvents.kt
  android/measure/src/main/java/sh/measure/android/storage/EventExtensions.kt
  android/measure/src/test/java/sh/measure/android/fakes/TestData.kt
  android/measure/src/test/java/sh/measure/android/performance/ComponentCallbacksCollectorTest.kt
  android/measure/src/test/java/sh/measure/android/storage/EventExtensionsKtTest.kt
  docs/android/features/feature_memory_monitoring.md
  docs/api/sdk/README.md
Labels: chore, android

#1392 chore(android): add max session duration config
  android/measure/src/androidTest/java/sh/measure/android/FakeConfigProvider.kt
  android/measure/src/androidTest/java/sh/measure/android/SessionTest.kt
  android/measure/src/androidTest/java/sh/measure/android/SessionTestRobot.kt
  android/measure/src/main/java/sh/measure/android/SessionManager.kt
  android/measure/src/main/java/sh/measure/android/config/Config.kt
  android/measure/src/main/java/sh/measure/android/config/ConfigProvider.kt
  android/measure/src/main/java/sh/measure/android/config/InternalConfig.kt
  android/measure/src/test/java/sh/measure/android/SessionManagerTest.kt
  android/measure/src/test/java/sh/measure/android/fakes/FakeConfigProvider.kt
Labels: chore, android

#1394 fix(android): handle session management when elapsed time gets reset
  android/measure/src/main/java/sh/measure/android/RecentSession.kt
  android/measure/src/main/java/sh/measure/android/SessionManager.kt
  android/measure/src/test/java/sh/measure/android/SessionManagerTest.kt
Labels: bug, android

#1369 iOS networking
  ios/DemoApp/AppDelegate.swift
  ios/MeasureSDK.xcodeproj/project.pbxproj
  ios/MeasureSDK.xcodeproj/xcshareddata/xcschemes/DemoApp.xcscheme
  ios/MeasureSDK/Config/BaseConfigProvider.swift
  ios/MeasureSDK/Config/Config.swift
  ios/MeasureSDK/Config/InternalConfig.swift
  ios/MeasureSDK/CoreData/BatchStore.swift
  ios/MeasureSDK/CoreData/Entities/BatchEntity.swift
  ios/MeasureSDK/CoreData/Entities/EventEntity.swift
  ios/MeasureSDK/CoreData/EventStore.swift
  ios/MeasureSDK/Events/Event.swift
  ios/MeasureSDK/Events/EventProcessor.swift
  ios/MeasureSDK/Exporter/BatchCreator.swift
  ios/MeasureSDK/Exporter/EventExporter.swift
  ios/MeasureSDK/Exporter/EventSerializer.swift
  ios/MeasureSDK/Exporter/Heartbeat.swift
  ios/MeasureSDK/Exporter/HttpClient.swift
  ios/MeasureSDK/Exporter/HttpModels.swift
  ios/MeasureSDK/Exporter/NetworkClient.swift
  ios/MeasureSDK/Exporter/PeriodicEventExporter.swift
  ios/MeasureSDK/Measure.swift
  ios/MeasureSDK/MeasureInitializer.swift
  ios/MeasureSDK/MeasureInternal.swift
  ios/MeasureSDK/MeasureSDK/Gestures/GestureCollector.swift
  ios/MeasureSDK/MeasureSDK/Gestures/GestureDetector.swift
  ios/MeasureSDK/MeasureSDK/Gestures/GestureEvents.swift
  ios/MeasureSDK/MeasureSDK/Gestures/GestureTargetFinder.swift
  ios/MeasureSDK/MeasureSDKTests/Gestures/GestureTargetFinderTests.swift
  ios/MeasureSDK/Utils/Constants.swift
  ios/MeasureSDK/Utils/MeasureQueue.swift
  ios/MeasureSDK/XCDataModel/MeasureModel.xcdatamodeld/MeasureModel.xcdatamodel/contents
  ios/MeasureSDKTests/Config/BaseConfigProviderTests.swift
  ios/MeasureSDKTests/CoreData/BatchStoreTests.swift
  ios/MeasureSDKTests/CoreData/EventStoreTests.swift
  ios/MeasureSDKTests/Event/EventProcessorTests.swift
  ios/MeasureSDKTests/Exporter/BatchCreatorTests.swift
  ios/MeasureSDKTests/Exporter/EventExporterTests.swift
  ios/MeasureSDKTests/Exporter/EventSerializerTests.swift
  ios/MeasureSDKTests/Exporter/HeartbeatTests.swift
  ios/MeasureSDKTests/Exporter/HttpClientTests.swift
  ios/MeasureSDKTests/Exporter/PeriodicEventExporterTests.swift
  ios/MeasureSDKTests/Helper/TestDataGenerator.swift
  ios/MeasureSDKTests/Mocks/MockBatchCreator.swift
  ios/MeasureSDKTests/Mocks/MockBatchStore.swift
  ios/MeasureSDKTests/Mocks/MockConfigProvider.swift
  ios/MeasureSDKTests/Mocks/MockEventExporter.swift
  ios/MeasureSDKTests/Mocks/MockEventStore.swift
  ios/MeasureSDKTests/Mocks/MockHeartbeat.swift
  ios/MeasureSDKTests/Mocks/MockIdProvider.swift
  ios/MeasureSDKTests/Mocks/MockLogger.swift
  ios/MeasureSDKTests/Mocks/MockNetworkClient.swift
  ios/MeasureSDKTests/Mocks/MockTimeProvider.swift
  ios/MeasureSDKTests/SessionManagerTests.swift
  ios/TestApp/MockMeasureInitializer.swift
Labels: chore, ios

#1402 refactor(android): use monotonic clock to get time
  android/measure/src/androidTest/java/sh/measure/android/FakeTimeProvider.kt
  android/measure/src/androidTest/java/sh/measure/android/SessionTestRobot.kt
  android/measure/src/androidTest/java/sh/measure/android/TestClock.kt
  android/measure/src/androidTest/java/sh/measure/android/TestMeasureInitializer.kt
  android/measure/src/main/java/sh/measure/android/MeasureInitProvider.kt
  android/measure/src/main/java/sh/measure/android/MeasureInitializer.kt
  android/measure/src/main/java/sh/measure/android/RecentSession.kt
  android/measure/src/main/java/sh/measure/android/SessionManager.kt
  android/measure/src/main/java/sh/measure/android/applaunch/AppLaunchCollector.kt
  android/measure/src/main/java/sh/measure/android/applaunch/LaunchTracker.kt
  android/measure/src/main/java/sh/measure/android/events/UserTriggeredEventCollector.kt
  android/measure/src/main/java/sh/measure/android/exceptions/UnhandledExceptionCollector.kt
  android/measure/src/main/java/sh/measure/android/exporter/BatchCreator.kt
  android/measure/src/main/java/sh/measure/android/exporter/PeriodicEventExporter.kt
  android/measure/src/main/java/sh/measure/android/gestures/GestureDetector.kt
  android/measure/src/main/java/sh/measure/android/lifecycle/AndroidXFragmentNavigationCollector.kt
  android/measure/src/main/java/sh/measure/android/lifecycle/FragmentLifecycleCollector.kt
  android/measure/src/main/java/sh/measure/android/lifecycle/LifecycleCollector.kt
  android/measure/src/main/java/sh/measure/android/navigation/ComposeNavigationCollector.kt
  android/measure/src/main/java/sh/measure/android/networkchange/NetworkChangesCollector.kt
  android/measure/src/main/java/sh/measure/android/okhttp/OkHttpEventCollector.kt
  android/measure/src/main/java/sh/measure/android/performance/ComponentCallbacksCollector.kt
  android/measure/src/main/java/sh/measure/android/performance/CpuUsageCollector.kt
  android/measure/src/main/java/sh/measure/android/performance/MemoryUsageCollector.kt
  android/measure/src/main/java/sh/measure/android/utils/AndroidSystemClock.kt
  android/measure/src/main/java/sh/measure/android/utils/SystemClock.kt
  android/measure/src/main/java/sh/measure/android/utils/TimeProvider.kt
  android/measure/src/test/java/sh/measure/android/SessionManagerTest.kt
  android/measure/src/test/java/sh/measure/android/events/UserTriggeredEventCollectorImplTest.kt
  android/measure/src/test/java/sh/measure/android/exceptions/ExceptionFactoryTest.kt
  android/measure/src/test/java/sh/measure/android/exceptions/UnhandledExceptionCollectorTest.kt
  android/measure/src/test/java/sh/measure/android/exporter/BatchCreatorTest.kt
  android/measure/src/test/java/sh/measure/android/exporter/EventExporterTest.kt
  android/measure/src/test/java/sh/measure/android/exporter/PeriodicEventExporterTest.kt
  android/measure/src/test/java/sh/measure/android/fakes/FakeConfigProvider.kt
  android/measure/src/test/java/sh/measure/android/fakes/FakeTimeProvider.kt
  android/measure/src/test/java/sh/measure/android/lifecycle/LifecycleCollectorTest.kt
  android/measure/src/test/java/sh/measure/android/networkchange/NetworkChangesCollectorTest.kt
  android/measure/src/test/java/sh/measure/android/okhttp/OkHttpDataProcessorTest.kt
  android/measure/src/test/java/sh/measure/android/performance/ComponentCallbacksCollectorTest.kt
  android/measure/src/test/java/sh/measure/android/performance/CpuUsageCollectorTest.kt
  android/measure/src/test/java/sh/measure/android/performance/MemoryUsageCollectorTest.kt
  android/measure/src/test/java/sh/measure/android/utils/AndroidTimeProviderTest.kt
  android/measure/src/test/java/sh/measure/android/utils/TestClock.kt
  self-host/session-data/sh.measure.sample/0.8.0-SNAPSHOT.debug/3483086c-5e1c-452d-a06d-24d419fb8d7d.json
  self-host/session-data/sh.measure.sample/0.8.0-SNAPSHOT.debug/402c31da-261b-4a3c-8acf-b6c7a7baf595.json
  self-host/session-data/sh.measure.sample/0.8.0-SNAPSHOT.debug/6ae6763d-465f-4b17-9583-45f17e10a589.json
  self-host/session-data/sh.measure.sample/0.8.0-SNAPSHOT.debug/9dcbcd52-59f4-478a-9199-8b7a9a5960f3.json
  self-host/session-data/sh.measure.sample/0.8.0-SNAPSHOT.debug/a41fdeab-7c8b-4028-847b-fcf483a69c23.json
  self-host/session-data/sh.measure.sample/0.8.0-SNAPSHOT.debug/blobs/0e7ed3a4-55bb-4717-a3cf-b3b6808562e0
  self-host/session-data/sh.measure.sample/0.8.0-SNAPSHOT.debug/ce3ad664-6a03-442c-a43b-14faae852eb5.json
Labels: refactor, android

#1398 Ios session creation
  ios/MeasureSDK.xcodeproj/project.pbxproj
  ios/MeasureSDK/Config/BaseConfigProvider.swift
  ios/MeasureSDK/Config/Config.swift
  ios/MeasureSDK/Config/InternalConfig.swift
  ios/MeasureSDK/CrashReporter/CrashReportingManager.swift
  ios/MeasureSDK/Events/EventProcessor.swift
  ios/MeasureSDK/MeasureInitializer.swift
  ios/MeasureSDK/MeasureInternal.swift
  ios/MeasureSDK/RecentSession.swift
  ios/MeasureSDK/SessionManager.swift
  ios/MeasureSDK/Utils/Constants.swift
  ios/MeasureSDK/Utils/SystemTime.swift
  ios/MeasureSDK/Utils/TimeProvider.swift
  ios/MeasureSDK/Utils/UserDefaultStorage.swift
  ios/MeasureSDKTests/Config/BaseConfigProviderTests.swift
  ios/MeasureSDKTests/CoreData/EventStoreTests.swift
  ios/MeasureSDKTests/CrashReporter/CrashReportingManagerTests.swift
  ios/MeasureSDKTests/Event/EventProcessorTests.swift
  ios/MeasureSDKTests/Mocks/MockConfigProvider.swift
  ios/MeasureSDKTests/Mocks/MockSessionManager.swift
  ios/MeasureSDKTests/Mocks/MockSystemTime.swift
  ios/MeasureSDKTests/Mocks/MockTimeProvider.swift
  ios/MeasureSDKTests/Mocks/MockUserDefaultStorage.swift
  ios/MeasureSDKTests/SessionManagerTests.swift
  ios/MeasureSDKTests/Utils/BaseSystemTimeTests.swift
  ios/MeasureSDKTests/Utils/TimeProviderTests.swift
  ios/TestApp/MockMeasureInitializer.swift
Labels: chore, ios

#1422 fix(android): create new session if app version changed since last
  android/measure/src/androidTest/java/sh/measure/android/TestMeasureInitializer.kt
  android/measure/src/main/java/sh/measure/android/MeasureInitializer.kt
  android/measure/src/main/java/sh/measure/android/RecentSession.kt
  android/measure/src/main/java/sh/measure/android/SessionManager.kt
  android/measure/src/main/java/sh/measure/android/attributes/AppAttributeProcessor.kt
  android/measure/src/main/java/sh/measure/android/storage/PrefsStorage.kt
  android/measure/src/main/java/sh/measure/android/utils/PackageInfoProviderImpl.kt
  android/measure/src/test/java/sh/measure/android/SessionManagerTest.kt
  android/measure/src/test/java/sh/measure/android/fakes/FakePackageInfoProvider.kt
  android/measure/src/test/java/sh/measure/android/storage/PrefsStorageTest.kt
Labels: bug, android

#1439 fix(android): create new session if previous session crashed
  android/measure/src/main/java/sh/measure/android/storage/PrefsStorage.kt
Labels: bug, android

#1438 fix(android): use uptime millis for cold launch instead of realtime elapsed
  android/measure/src/main/java/sh/measure/android/MeasureInitProvider.kt
  android/measure/src/main/java/sh/measure/android/applaunch/AppLaunchCollector.kt
  android/measure/src/main/java/sh/measure/android/applaunch/LaunchTracker.kt
Labels: bug, android

#1404 fix(backend): improve dashboard api response times
  backend/api/filter/appfilter.go
  backend/api/group/group.go
  backend/api/measure/app.go
  backend/api/measure/event.go
  backend/api/measure/usage.go
  backend/api/metrics/metrics.go
  backend/api/pairs/pairs.go
  backend/api/server/server.go
  docs/api/dashboard/README.md
  docs/hosting/README.md
  self-host/clickhouse/20241023021807_alter_events_table.sql
  self-host/clickhouse/20241023053007_alter_events_table.sql
  self-host/clickhouse/20241023061713_create_app_filters_table.sql
  self-host/clickhouse/20241023062022_backfill_app_filters_table.sql
  self-host/clickhouse/20241023223511_create_app_filters_mv.sql
  self-host/clickhouse/20241026034532_create_app_metrics_table.sql
  self-host/clickhouse/20241026034915_backfill_app_metrics_table.sql
  self-host/clickhouse/20241026035159_create_app_metrics_mv.sql
  self-host/clickhouse/config/config.xml
  self-host/compose.yml
  self-host/sessionator/cmd/rm.go
Labels: backend, perf

#1449 fix(frontend): some dashboard apis were failing due to lack of url encoding
  frontend/dashboard/app/api/api_calls.ts
Labels: bug, frontend

#1448 fix(frontend): hot launch metric was incorrectly showing warm launch …
  frontend/dashboard/app/components/metrics_overview.tsx
Labels: bug, frontend

#1451 fix(backend): improve crash/anr detail experience
  backend/api/filter/appfilter.go
  backend/api/group/group.go
  backend/api/measure/app.go
  backend/api/measure/event.go
  backend/api/numeric/numeric.go
Labels: bug, chore, backend, perf

#1455 chore(backend): add data skipping indexes for fingerprints
  self-host/clickhouse/20241031172411_alter_events_table.sql
Labels: chore, backend

#1453 fix(frontend): crash detail not showing id
  frontend/dashboard/app/components/exceptions_details.tsx
Labels: bug, frontend

#1458 chore(backend): apply suitable restart policy
  self-host/compose.prod.yml
Labels: chore, backend

#1460 docs: improve spelling in readme
  README.md
Labels: docs, chore
