Repository measure-sh/measure, pull requests merged in 2024-09, with the labels that each got.

#1179 fix(android): handle exceptions when loading native library
  android/measure/src/androidTest/java/sh/measure/android/TestMeasureInitializer.kt
  android/measure/src/main/java/sh/measure/android/MeasureInitializer.kt
  android/measure/src/main/java/sh/measure/android/NativeBridge.kt
Labels: bug, android

#1183 fix(android): crash when app visible time isn't available to calculate launch time
  android/measure/src/main/java/sh/measure/android/applaunch/LaunchTracker.kt
Labels: bug, android

#1185 refactor(android): remove usage of double bang operator
  android/measure/src/main/java/sh/measure/android/appexit/AppExitCollector.kt
  android/measure/src/main/java/sh/measure/android/performance/CpuUsageCollector.kt
  android/measure/src/main/java/sh/measure/android/storage/Database.kt
Labels: refactor, android

#1187 chore(backend): sessionator `--clean-all` flag
  self-host/sessionator/README.md
  self-host/sessionator/cmd/ingest.go
  self-host/sessionator/cmd/rm.go
Labels: docs, chore, backend

#1188 docs(backend): improve sessionator readme
  self-host/sessionator/README.md
Labels: docs, backend

#1189 chore(backend): format log line
  backend/api/event/event.go
Labels: chore, backend

#1186 chore(android): prepare sdk release v0.6.1
  android/CHANGELOG.md
  android/gradle.properties
  docs/android/README.md
Labels: android

#1190 fix(backend): nil pointer dereference when ingesting `low_memory` events
  backend/api/measure/event.go
Labels: bug, backend

#1162 chore(ios): add session manager
  ios/.swiftlint.yml
  ios/MeasureDemo/MeasureDemo/AppDelegate.swift
  ios/MeasureDemo/MeasureDemo/ViewController.swift
  ios/MeasureSDK/MeasureSDK.xcodeproj/project.pbxproj
  ios/MeasureSDK/MeasureSDK/Config/BaseConfigProvider.swift
  ios/MeasureSDK/MeasureSDK/Config/ClientInfo.swift
  ios/MeasureSDK/MeasureSDK/Config/Config.swift
  ios/MeasureSDK/MeasureSDK/Config/InternalConfig.swift
  ios/MeasureSDK/MeasureSDK/Config/MeasureConfig.swift
  ios/MeasureSDK/MeasureSDK/CoreData/CoreDataManager.swift
  ios/MeasureSDK/MeasureSDK/CrashReporter/CrashReportManager.swift
  ios/MeasureSDK/MeasureSDK/CrashReporter/MeasureCrashReporter.swift
  ios/MeasureSDK/MeasureSDK/Measure.swift
  ios/MeasureSDK/MeasureSDK/MeasureInitializer.swift
  ios/MeasureSDK/MeasureSDK/MeasureInternal.swift
  ios/MeasureSDK/MeasureSDK/SessionManager.swift
  ios/MeasureSDK/MeasureSDK/Utils/FatalErrorUtil.swift
  ios/MeasureSDK/MeasureSDK/Utils/IdProvider.swift
  ios/MeasureSDK/MeasureSDK/Utils/LifecycleObserver.swift
  ios/MeasureSDK/MeasureSDK/Utils/Logger.swift
  ios/MeasureSDK/MeasureSDK/Utils/Randomizer.swift
  ios/MeasureSDK/MeasureSDK/Utils/SystemTime.swift
  ios/MeasureSDK/MeasureSDK/Utils/TimeProvider.swift
  ios/MeasureSDK/MeasureSDKTests/Helper/XCTextCase+Extension.swift
  ios/MeasureSDK/MeasureSDKTests/MeasureSDKTests.swift
  ios/MeasureSDK/MeasureSDKTests/Mocks/MockConfigProvider.swift
  ios/MeasureSDK/MeasureSDKTests/Mocks/MockIdProvider.swift
  ios/MeasureSDK/MeasureSDKTests/Mocks/MockLogger.swift
  ios/MeasureSDK/MeasureSDKTests/Mocks/MockRandomizer.swift
  ios/MeasureSDK/MeasureSDKTests/Mocks/MockTimeProvider.swift
  ios/MeasureSDK/MeasureSDKTests/SessionManagerTests.swift
  ios/MeasureSDK/MeasureSDKTests/Utils/BaseSystemTimeTests.swift
  ios/MeasureSDK/MeasureSDKTests/Utils/LifecycleObserverTests.swift
Labels: chore, ios

#1196 Fix ingestion related integer overflow errors
  backend/api/event/event.go
  docs/api/sdk/README.md
  self-host/clickhouse/20240905133723_alter_events_table.sql
Labels: bug, backend

#1197 fix(backend): detect bogon addresses locally
  backend/api/go.mod
  backend/api/go.sum
  backend/api/inet/ipinfo.go
  backend/api/inet/ipinfo_test.go
  backend/api/measure/event.go
Labels: bug, backend

#1198 docs: update database docs
  self-host/clickhouse/README.md
  self-host/postgres/README.md
Labels: docs, backend

#1199 chore(backend): additional log for anomalous cold launch duration
  backend/api/event/event.go
  backend/api/measure/event.go
  self-host/session-data/sh.measure.sample/1.0/f936f133-3581-4f2f-bd6d-670ef03b70b0.json
Labels: chore, backend

#1206 add EventProcessor to iOS
  ios/MeasureSDK/MeasureSDK.xcodeproj/project.pbxproj
  ios/MeasureSDK/MeasureSDK/Events/Attachment.swift
  ios/MeasureSDK/MeasureSDK/Events/AttachmentType.swift
  ios/MeasureSDK/MeasureSDK/Events/Event.swift
  ios/MeasureSDK/MeasureSDK/Events/EventProcessor.swift
  ios/MeasureSDK/MeasureSDK/Events/EventType.swift
  ios/MeasureSDK/MeasureSDK/MeasureInitializer.swift
  ios/MeasureSDK/MeasureSDK/MeasureInternal.swift
  ios/MeasureSDK/MeasureSDKTests/Mocks/MockLogger.swift
  ios/MeasureSDK/MeasureSDKTests/Mocks/MockSessionManager.swift
  ios/MeasureSDK/MeasureSDKTests/Mocks/MockSystemTime.swift
  ios/MeasureSDK/MeasureSDKTests/SessionManagerTests.swift
Labels: chore, ios

#1208 add signpost to iOS
  ios/MeasureSDK/MeasureSDK.xcodeproj/project.pbxproj
  ios/MeasureSDK/MeasureSDK/Measure.swift
  ios/MeasureSDK/MeasureSDK/Utils/Logger.swift
  ios/MeasureSDK/MeasureSDK/Utils/SignPost.swift
Labels: chore, ios

#1220 chore(backend): enable sessionator parallel ingest
  self-host/compose.yml
  self-host/sessionator/cmd/ingest.go
  self-host/sessionator/cmd/rm.go
  self-host/sessionator/cmd/virtual.go
  self-host/sessionator/go.mod
  self-host/sessionator/go.sum
Labels: chore, backend

#1221 fix(backend): round crash and anr contribution
  backend/api/group/group.go
Labels: bug, backend

#1233 fix(android): blank screenshots for Android 15
  android/measure/src/main/java/sh/measure/android/screenshot/ScreenshotCollector.kt
Labels: bug, android

#1253 chore(android): update sdk version to 35 and agp to 8.6
  android/benchmarks/app/build.gradle.kts
  android/benchmarks/benchmark/build.gradle.kts
  android/gradle/libs.versions.toml
  android/measure-android-gradle/src/functionalTest/kotlin/sh/measure/MeasurePluginTest.kt
  android/measure-android-gradle/src/functionalTest/kotlin/sh/measure/fixtures/MeasurePluginFixture.kt
  android/measure/build.gradle.kts
  android/measure/src/androidTest/java/sh/measure/android/TestMeasureInitializer.kt
  android/measure/src/main/java/sh/measure/android/storage/Database.kt
  android/measure/src/main/java/sh/measure/android/storage/DbConstants.kt
  android/sample/build.gradle.kts
Labels: chore, android

#1267 chore(ios): add crash reporting
  ios/.swiftlint.yml
  ios/MeasureDemo/MeasureDemo/ViewController.swift
  ios/MeasureSDK/MeasureSDK.xcodeproj/project.pbxproj
  ios/MeasureSDK/MeasureSDK/Attribute/Attribute.swift
  ios/MeasureSDK/MeasureSDK/Attribute/DeviceAttributeProcessor.swift
  ios/MeasureSDK/MeasureSDK/Config/BaseConfigProvider.swift
  ios/MeasureSDK/MeasureSDK/Config/Config.swift
  ios/MeasureSDK/MeasureSDK/Config/InternalConfig.swift
  ios/MeasureSDK/MeasureSDK/CrashReporter/CrashDataFormatter.swift
  ios/MeasureSDK/MeasureSDK/CrashReporter/CrashDataPersistence.swift
  ios/MeasureSDK/MeasureSDK/CrashReporter/CrashDataWriter.swift
  ios/MeasureSDK/MeasureSDK/CrashReporter/CrashReport.swift
  ios/MeasureSDK/MeasureSDK/CrashReporter/CrashReportManager.swift
  ios/MeasureSDK/MeasureSDK/CrashReporter/CrashReportingManager.swift
  ios/MeasureSDK/MeasureSDK/CrashReporter/MeasureCrashReporter.swift
  ios/MeasureSDK/MeasureSDK/CrashReporter/SystemCrashReporter.swift
  ios/MeasureSDK/MeasureSDK/Events/EventProcessor.swift
  ios/MeasureSDK/MeasureSDK/Exception/Exception.swift
  ios/MeasureSDK/MeasureSDK/Exception/ExceptionDetail.swift
  ios/MeasureSDK/MeasureSDK/Exception/StackFrame.swift
  ios/MeasureSDK/MeasureSDK/Exception/ThreadDetail.swift
  ios/MeasureSDK/MeasureSDK/MeasureInitializer.swift
  ios/MeasureSDK/MeasureSDK/MeasureInternal.swift
  ios/MeasureSDK/MeasureSDK/SessionManager.swift
  ios/MeasureSDK/MeasureSDK/Utils/Constants.swift
  ios/MeasureSDK/MeasureSDK/Utils/Logger.swift
  ios/MeasureSDK/MeasureSDK/Utils/SystemFileManager.swift
  ios/MeasureSDK/MeasureSDK/Utils/SystemTime.swift
  ios/MeasureSDK/MeasureSDK/Utils/TimeProvider.swift
  ios/MeasureSDK/MeasureSDKTests/CrashReporter/CrashDataFormatterTests.swift
  ios/MeasureSDK/MeasureSDKTests/CrashReporter/CrashReportingManagerTests.swift
  ios/MeasureSDK/MeasureSDKTests/CrashReporter/CrashReports/abort.json
  ios/MeasureSDK/MeasureSDKTests/CrashReporter/CrashReports/abort.plcrash
  ios/MeasureSDK/MeasureSDKTests/CrashReporter/CrashReports/backgroundThreadException.json
  ios/MeasureSDK/MeasureSDKTests/CrashReporter/CrashReports/backgroundThreadException.plcrash
  ios/MeasureSDK/MeasureSDKTests/CrashReporter/Exception+Extension.swift
  ios/MeasureSDK/MeasureSDKTests/Helper/XCTextCase+Extension.swift
  ios/MeasureSDK/MeasureSDKTests/Mocks/MockConfigProvider.swift
  ios/MeasureSDK/MeasureSDKTests/Mocks/MockLogger.swift
  ios/MeasureSDK/MeasureSDKTests/Mocks/MockTimeProvider.swift
  ios/MeasureSDK/MeasureSDKTests/Utils/BaseSystemTimeTests.swift
Labels: chore, ios

#1234 Extend journey algorithm to support fragment hierarchies
  backend/api/event/event.go
  backend/api/journey/events_three.json
  backend/api/journey/journey.go
  backend/api/journey/journey_test.go
  backend/api/measure/app.go
  backend/api/measure/event.go
  backend/api/symbol/codecmap.go
  backend/api/symbol/symbol.go
  docs/api/sdk/README.md
  self-host/clickhouse/20240911150110_alter_events_table.sql
Labels: docs, feature, backend

#1288 fix(backend): overview instance plot would not load for some cases
  backend/api/measure/app.go
Labels: bug, backend

#1289 chore(backend): capture more details in otel traces
  backend/api/go.mod
  backend/api/main.go
  backend/api/server/middleware.go
  backend/api/server/server.go
Labels: chore, backend

#1291 docs(backend): add self host upgrade guide
  docs/hosting/README.md
Labels: docs, backend

#1283 chore(android): prepare sdk release 0.7.0
  android/CHANGELOG.md
  android/gradle.properties
  docs/android/README.md
Labels: chore, android

#1285 chore(android): prepare gradle plugin release 0.6.1
  android/CHANGELOG.md
  android/measure-android-gradle/gradle.properties
  docs/android/README.md
Labels: chore, android

#1294 docs: update release one liner command
  docs/CONTRIBUTING.md
Labels: docs

#1298 fix(backend): crash/anr details instances plot won't load sometimes
  backend/api/measure/app.go
Labels: bug, backend

#1303 fix(backend): improve security posture
  backend/api/go.mod
  backend/api/go.sum
  backend/cleanup/go.mod
  backend/cleanup/go.sum
  go.work.sum
  self-host/sessionator/go.mod
  self-host/sessionator/go.sum
Labels: bug, backend

#1305 fix(frontend): improve security posture
  frontend/dashboard/package-lock.json
  frontend/dashboard/package.json
Labels: bug, frontend
