Repository measure-sh/measure, pull requests merged in 2024-12, with the labels that each got.

#1529 feat(backend): support user defined attributes
  backend/api/event/event.go
  backend/api/event/userdefattr.go
  backend/api/event/userdefattr_test.go
  backend/api/filter/appfilter.go
  backend/api/filter/appfilter_test.go
  backend/api/filter/shortfilters.go
  backend/api/measure/app.go
  backend/api/measure/event.go
  backend/api/measure/session.go
  backend/api/replay/critical.go
  backend/api/replay/exit.go
  backend/api/replay/gesture.go
  backend/api/replay/launch.go
  backend/api/replay/lifecycle.go
  backend/api/replay/log.go
  backend/api/replay/memory.go
  backend/api/replay/nav.go
  backend/api/replay/network.go
  docs/api/dashboard/README.md
  docs/api/sdk/README.md
  self-host/clickhouse/20241112203748_alter_events_table.sql
  self-host/clickhouse/20241113073411_create_user_def_attrs_table.sql
  self-host/clickhouse/20241113110703_create_user_def_attrs_mv.sql
Labels: feature, backend

#1545 chore(backend): remove unused code
  backend/api/measure/app.go
Labels: chore, backend

#1547 docs(backend): document rename app api
  docs/api/dashboard/README.md
Labels: docs, backend

#1552 docs(backend): document short filters api
  docs/api/dashboard/README.md
Labels: docs, backend

#1553 chore(backend): update sessionator deps
  self-host/sessionator/go.sum
Labels: chore, backend

#1554 feat(backend): support custom events
  backend/api/event/event.go
  backend/api/event/userdefattr.go
  backend/api/measure/app.go
  backend/api/measure/event.go
  backend/api/replay/custom.go
  docs/api/sdk/README.md
  self-host/clickhouse/20241204135555_alter_events_table.sql
Labels: feature, backend

#1563 fix(backend): filter versions and os versions securely
  backend/api/measure/app.go
  backend/api/measure/event.go
  backend/api/measure/session.go
  backend/api/pairs/pairs.go
Labels: bug, backend

#1573 chore(backend): revert deletion of session data with spans
  self-host/session-data/sh.measure.sample/0.9.0-SNAPSHOT.debug/2f99b66f-2329-44c0-a61c-367ddd419cd1.json
  self-host/session-data/sh.measure.sample/0.9.0-SNAPSHOT.debug/3d2e193c-4a4d-434d-a174-3e649b40812f.json
  self-host/session-data/sh.measure.sample/0.9.0-SNAPSHOT.debug/4ab4f967-5af7-4985-b9ad-ed727e7dade5.json
  self-host/session-data/sh.measure.sample/0.9.0-SNAPSHOT.debug/52557365-9725-40ad-81d2-d0fcfe0b5060.json
  self-host/session-data/sh.measure.sample/0.9.0-SNAPSHOT.debug/55a04fcf-cf81-4c31-ba35-44275ace6ba5.json
  self-host/session-data/sh.measure.sample/0.9.0-SNAPSHOT.debug/55a04fcf-cf81-4c31-ba35-44275ace6be4.json
  self-host/session-data/sh.measure.sample/0.9.0-SNAPSHOT.debug/701b9571-e3a6-4386-8dc8-f13af91ee492.json
  self-host/session-data/sh.measure.sample/0.9.0-SNAPSHOT.debug/blobs/1f5d7397-5fe8-436e-b347-46deead267c2
  self-host/session-data/sh.measure.sample/0.9.0-SNAPSHOT.debug/blobs/bd1d41d4-3c97-4667-8f5b-2c942b59ada3
  self-host/session-data/sh.measure.sample/0.9.0-SNAPSHOT.debug/blobs/c2001daa-bdc6-476e-b896-0fd047fb2503
  self-host/session-data/sh.measure.sample/0.9.0-SNAPSHOT.debug/c7f8ef2e-e1cc-40d1-b203-9222b12f705c.json
  self-host/session-data/sh.measure.sample/0.9.0-SNAPSHOT.debug/de99db9c-ec19-4af7-8531-984391a845e2.json
Labels: chore, backend

#1535 chore(ios): add launch event tracking
  docs/ios/README.md
  docs/ios/features/feature_app_launch.md
  ios/MeasureSDK.xcodeproj/project.pbxproj
  ios/MeasureSDK.xcodeproj/xcshareddata/xcschemes/DemoApp.xcscheme
  ios/MeasureSDK/AppLaunch/AppLaunchCollector.swift
  ios/MeasureSDK/AppLaunch/AppLaunchEvents.swift
  ios/MeasureSDK/AppLaunch/LaunchCallbacks.swift
  ios/MeasureSDK/AppLaunch/LaunchTracker.swift
  ios/MeasureSDK/CoreData/Entities/EventEntity.swift
  ios/MeasureSDK/CoreData/EventStore.swift
  ios/MeasureSDK/Events/EventProcessor.swift
  ios/MeasureSDK/Events/EventType.swift
  ios/MeasureSDK/Exporter/EventSerializer.swift
  ios/MeasureSDK/MeasureInitializer.swift
  ios/MeasureSDK/MeasureInternal.swift
  ios/MeasureSDK/Utils/Constants.swift
  ios/MeasureSDK/Utils/SysCtl.swift
  ios/MeasureSDK/Utils/UserDefaultStorage.swift
  ios/MeasureSDK/XCDataModel/MeasureModel.xcdatamodeld/MeasureModel.xcdatamodel/contents
  ios/MeasureSDKTests/Exporter/EventSerializerTests.swift
  ios/MeasureSDKTests/Helper/TestDataGenerator.swift
  ios/MeasureSDKTests/Mocks/MockSysCtl.swift
  ios/MeasureSDKTests/Mocks/MockUserDefaultStorage.swift
  ios/MeasureSDKTests/Performance/MemoryUsageCollectorTests.swift
  ios/MeasureUITests/LaunchCollectorTests.swift
  ios/TestApp/AppDelegate.swift
  ios/TestApp/MockMeasureInitializer.swift
Labels: chore, ios

#1587 feat(backend): support ios event ingestion
  backend/api/event/attribute.go
  backend/api/event/event.go
  backend/api/measure/event.go
  docs/api/sdk/README.md
  self-host/clickhouse/20241210052709_alter_events_table.sql
  self-host/sessionator/cmd/ingest.go
  self-host/sessionator/cmd/record.go
Labels: feature, backend

#1590 fix(backend): validate required event & span attributes
  backend/api/event/attribute.go
  backend/api/span/span.go
Labels: bug, backend

#1603 fix(backend): unexpected shortcodes gets created sometimes
  backend/api/filter/appfilter.go
  backend/api/filter/shortfilters.go
  backend/api/measure/app.go
Labels: bug, backend

#1622 fix(backend): sessionator ingestion failure
  backend/api/measure/event.go
Labels: bug, backend

#1624 feat(backend): ios session timeline
  backend/api/measure/app.go
  backend/api/timeline/cpu.go
  backend/api/timeline/critical.go
  backend/api/timeline/custom.go
  backend/api/timeline/doc.go
  backend/api/timeline/exit.go
  backend/api/timeline/gesture.go
  backend/api/timeline/launch.go
  backend/api/timeline/lifecycle.go
  backend/api/timeline/log.go
  backend/api/timeline/massage.go
  backend/api/timeline/memory.go
  backend/api/timeline/nav.go
  backend/api/timeline/network.go
Labels: feature, backend

#1625 feat(frontend): add memory usage absolute plot in session timeline
  frontend/dashboard/app/api/api_calls.ts
  frontend/dashboard/app/components/session_replay.tsx
Labels: bug, feature, frontend

#1632 chore(backend): update sessionator example config
  self-host/session-data/config.toml.example
Labels: chore, backend

#1634 feat(android): expose API to get current session ID
  android/measure/api/measure.api
  android/measure/src/main/java/sh/measure/android/Measure.kt
  android/measure/src/main/java/sh/measure/android/MeasureInternal.kt
  docs/android/README.md
Labels: feature, android

#1644 fix(backend): handle large numbers in user defined attributes gracefully
  .github/workflows/api.yml
  backend/api/event/userdefattr.go
  backend/api/event/userdefattr_test.go
  docs/api/sdk/README.md
Labels: bug, backend

#1647 chore(backend): remove all app resources in sessionator
  self-host/sessionator/README.md
  self-host/sessionator/cmd/help.go
  self-host/sessionator/cmd/ingest.go
  self-host/sessionator/cmd/metrics.go
  self-host/sessionator/cmd/record.go
  self-host/sessionator/cmd/remove.go
  self-host/sessionator/cmd/rm.go
  self-host/sessionator/cmd/root.go
Labels: docs, chore, backend

#1653 fix(backend): dashboard no longer depends on api service
  self-host/compose.yml
Labels: bug, backend

#1654 fix(backend): nil pointer dereference in remove apps
  self-host/sessionator/cmd/remove.go
  self-host/sessionator/cmd/rm.go
Labels: bug, backend

#1655 chore(backend): cleanup expired resources
  backend/cleanup/cleanup/cleanup.go
Labels: chore, backend

#1659 refactor(android): implement batch insertions of events and spans in db
  android/docs/internal-documentation.md
  android/measure/src/androidTest/java/sh/measure/android/FakeConfigProvider.kt
  android/measure/src/androidTest/java/sh/measure/android/TestMeasureInitializer.kt
  android/measure/src/main/java/sh/measure/android/MeasureInitializer.kt
  android/measure/src/main/java/sh/measure/android/MeasureInternal.kt
  android/measure/src/main/java/sh/measure/android/config/Config.kt
  android/measure/src/main/java/sh/measure/android/config/ConfigProvider.kt
  android/measure/src/main/java/sh/measure/android/config/InternalConfig.kt
  android/measure/src/main/java/sh/measure/android/storage/Database.kt
  android/measure/src/main/java/sh/measure/android/storage/PeriodicSignalStoreScheduler.kt
  android/measure/src/main/java/sh/measure/android/storage/SignalStore.kt
  android/measure/src/test/java/sh/measure/android/fakes/FakeConfigProvider.kt
  android/measure/src/test/java/sh/measure/android/fakes/FakeSignalStore.kt
  android/measure/src/test/java/sh/measure/android/storage/DatabaseTest.kt
  android/measure/src/test/java/sh/measure/android/storage/SignalStoreTest.kt
  android/sample/build.gradle.kts
Labels: refactor, android

#1662 Remove uneeded log
  android/measure/src/main/java/sh/measure/android/layoutinspector/LayoutSnapshot.kt
Labels: chore, android

#1661 refactor(android): avoid accessing thermal status change for older APIs
  android/measure/src/main/java/sh/measure/android/NoopThermalStateManager.kt
  android/measure/src/main/java/sh/measure/android/PowerStateProvider.kt
  android/measure/src/main/java/sh/measure/android/ThermalStateManager.kt
  android/measure/src/main/java/sh/measure/android/ThermalStateManagerImpl.kt
Labels: refactor, android

#1668 fix(backend): duplicate sessions shown in sessions overview
  backend/api/measure/session.go
Labels: bug, backend

#1667 fix(android): serialize numbers as numbers instead of string in user def attrs
  android/measure/src/main/java/sh/measure/android/attributes/AttributeValue.kt
  android/measure/src/test/java/sh/measure/android/storage/EventExtensionsKtTest.kt
Labels: bug, android

#1665 feat(android): remove deprecated navigation event
  android/measure/api/measure.api
  android/measure/src/main/java/sh/measure/android/Measure.kt
  android/measure/src/main/java/sh/measure/android/MeasureInternal.kt
  android/measure/src/main/java/sh/measure/android/events/EventType.kt
  android/measure/src/main/java/sh/measure/android/events/UserTriggeredEventCollector.kt
  android/measure/src/main/java/sh/measure/android/storage/EventExtensions.kt
  android/measure/src/test/java/sh/measure/android/events/SignalProcessorTest.kt
  android/measure/src/test/java/sh/measure/android/events/UserTriggeredEventCollectorImplTest.kt
  android/measure/src/test/java/sh/measure/android/fakes/TestData.kt
  android/measure/src/test/java/sh/measure/android/storage/EventExtensionsKtTest.kt
  docs/android/README.md
  docs/api/sdk/README.md
Labels: docs

#1666 chore(backend): update user defined attributes in sample session
  self-host/session-data/sh.measure.sample/0.9.0-SNAPSHOT.debug/394f892a-839d-43c2-a0eb-34e9d5cf834d.json
Labels: chore, backend

#1670 docs(android): add minimum version compatibility
  docs/android/README.md
Labels: docs, android
