Repository measure-sh/measure, pull requests merged in 2024-11, with the labels that each got.

#1444 iOS lifecycle events
  docs/api/sdk/README.md
  ios/DemoApp/Controller/CollectionViewController.swift
  ios/DemoApp/Controller/ObjcDetailViewController.h
  ios/DemoApp/Controller/ViewController.swift
  ios/MeasureDemo/MeasureDemo/Controller/CollectionViewController.swift
  ios/MeasureSDK.xcodeproj/project.pbxproj
  ios/MeasureSDK/CoreData/Entities/EventEntity.swift
  ios/MeasureSDK/CoreData/EventStore.swift
  ios/MeasureSDK/Events/EventType.swift
  ios/MeasureSDK/Exporter/EventSerializer.swift
  ios/MeasureSDK/Lifecycle/LifecycleCollector.swift
  ios/MeasureSDK/Lifecycle/LifecycleEvents.swift
  ios/MeasureSDK/Lifecycle/LifecycleManager.swift
  ios/MeasureSDK/Lifecycle/MSRViewController.h
  ios/MeasureSDK/Lifecycle/MSRViewController.m
  ios/MeasureSDK/Lifecycle/MeasureViewController.swift
  ios/MeasureSDK/Lifecycle/MsrMoniterView.swift
  ios/MeasureSDK/MeasureInitializer.swift
  ios/MeasureSDK/MeasureInternal.swift
  ios/MeasureSDK/MeasureSDK.h
  ios/MeasureSDK/Utils/Extensions/UIViewController+Extension.swift
  ios/MeasureSDK/Utils/Extensions/UIWindow+Extension.swift
  ios/MeasureSDK/XCDataModel/MeasureModel.xcdatamodeld/MeasureModel.xcdatamodel/contents
  ios/MeasureSDKTests/Exporter/EventSerializerTests.swift
  ios/MeasureSDKTests/Helper/TestDataGenerator.swift
  ios/MeasureSDKTests/Mocks/MockLogger.swift
  ios/MeasureUITests/GestureCollectorTests.swift
  ios/MeasureUITests/LifecycleCollectorTests.swift
  ios/SwiftUIDemo/ContentView.swift
  ios/SwiftUIDemo/SwiftUIDemoApp.swift
  ios/TestApp/AppDelegate.swift
  ios/TestApp/MockMeasureInitializer.swift
  ios/TestApp/ViewController.swift
Labels: chore, ios

#1478 Ios session logic update & time provider refactor
  ios/MeasureSDK/Exporter/BatchCreator.swift
  ios/MeasureSDK/Exporter/PeriodicEventExporter.swift
  ios/MeasureSDK/Gestures/GestureCollector.swift
  ios/MeasureSDK/Gestures/GestureDetector.swift
  ios/MeasureSDK/Lifecycle/LifecycleCollector.swift
  ios/MeasureSDK/MeasureInitializer.swift
  ios/MeasureSDK/RecentSession.swift
  ios/MeasureSDK/SessionManager.swift
  ios/MeasureSDK/Utils/Constants.swift
  ios/MeasureSDK/Utils/TimeProvider.swift
  ios/MeasureSDK/Utils/UserDefaultStorage.swift
  ios/MeasureSDKTests/Exporter/BatchCreatorTests.swift
  ios/MeasureSDKTests/Exporter/PeriodicEventExporterTests.swift
  ios/MeasureSDKTests/Mocks/MockTimeProvider.swift
  ios/MeasureSDKTests/SessionManagerTests.swift
  ios/MeasureSDKTests/Utils/TimeProviderTests.swift
  ios/TestApp/MockMeasureInitializer.swift
Labels: chore, ios

#1490 Optimize session detail APIs and overall loading experience
  backend/api/event/plot.go
  backend/api/filter/appfilter.go
  backend/api/main.go
  backend/api/measure/app.go
  backend/api/measure/event.go
  backend/api/measure/session.go
  backend/api/session/match.go
  backend/api/session/plot.go
  self-host/clickhouse/20241102085036_create_sessions_table.sql
  self-host/clickhouse/20241102092836_create_sessions_mv.sql
Labels: chore, backend, perf

#1492 chore(backend): add skip indexes for sessions table
  self-host/clickhouse/20241106132226_alter_sessions_table.sql
Labels: chore, backend

#1491 fix(frontend): better pagination in session detail
  frontend/dashboard/app/[teamId]/sessions/page.tsx
  frontend/dashboard/app/api/api_calls.ts
  frontend/dashboard/app/components/dropdown_select.tsx
Labels: bug, refactor, chore, frontend

#1499 fix(backend): incorrect pagination when no data
  backend/api/measure/session.go
Labels: bug, backend

#1500 fix(backend): validate limit to not be zero
  backend/api/filter/appfilter.go
Labels: bug, backend

#1502 docs(backend): document sessions overview list api
  docs/api/dashboard/README.md
Labels: docs, backend

#1505 chore(backend): change index type in sessions table
  self-host/clickhouse/20241107074128_alter_sessions_table.sql
  self-host/clickhouse/20241107074259_alter_sessions_table.sql
Labels: chore, backend

#1509 chore(backend): change postgres compose config
  self-host/compose.yml
Labels: chore, backend

#1511 chore(backend): remove backfilling migrations
  self-host/clickhouse/20241023062022_backfill_app_filters_table.sql
  self-host/clickhouse/20241026034915_backfill_app_metrics_table.sql
Labels: chore, backend

#1512 Migration guides
  docs/hosting/README.md
  docs/hosting/migration-guides/README.md
  docs/hosting/migration-guides/v0.4.x/README.md
  self-host/migrations/README.md
  self-host/migrations/v0.4.x-data-backfills.sh
Labels: docs, chore, backend

#1513 docs(backend): fix typos and missing info
  docs/hosting/README.md
  docs/hosting/migration-guides/v0.4.x/README.md
Labels: docs, backend

#1517 fix(backend): use specific clickhouse image version
  self-host/compose.yml
Labels: bug, backend

#1519 chore(ios): add cpu and memory tracking
  docs/api/sdk/README.md
  ios/MeasureSDK.xcodeproj/project.pbxproj
  ios/MeasureSDK/Config/BaseConfigProvider.swift
  ios/MeasureSDK/Config/Config.swift
  ios/MeasureSDK/Config/InternalConfig.swift
  ios/MeasureSDK/CoreData/Entities/EventEntity.swift
  ios/MeasureSDK/CoreData/EventStore.swift
  ios/MeasureSDK/Events/EventType.swift
  ios/MeasureSDK/Exporter/EventSerializer.swift
  ios/MeasureSDK/Gestures/GestureCollector.swift
  ios/MeasureSDK/Gestures/GestureEvents.swift
  ios/MeasureSDK/MeasureInitializer.swift
  ios/MeasureSDK/MeasureInternal.swift
  ios/MeasureSDK/Performance/CpuUsageCalculator.swift
  ios/MeasureSDK/Performance/CpuUsageCollector.swift
  ios/MeasureSDK/Performance/CpuUsageData.swift
  ios/MeasureSDK/Performance/MemoryUsageCalculator.swift
  ios/MeasureSDK/Performance/MemoryUsageCollector.swift
  ios/MeasureSDK/Performance/MemoryUsageData.swift
  ios/MeasureSDK/Utils/Constants.swift
  ios/MeasureSDK/Utils/SysCtl.swift
  ios/MeasureSDK/Utils/TimeProvider.swift
  ios/MeasureSDK/XCDataModel/MeasureModel.xcdatamodeld/MeasureModel.xcdatamodel/contents
  ios/MeasureSDKTests/Exporter/EventSerializerTests.swift
  ios/MeasureSDKTests/Helper/TestDataGenerator.swift
  ios/MeasureSDKTests/Mocks/MockConfigProvider.swift
  ios/MeasureSDKTests/Mocks/MockCpuUsageCalculator.swift
  ios/MeasureSDKTests/Mocks/MockEventProcessor.swift
  ios/MeasureSDKTests/Mocks/MockMemoryUsageCalculator.swift
  ios/MeasureSDKTests/Mocks/MockSysCtl.swift
  ios/MeasureSDKTests/Performance/CpuUsageCalculatorTests.swift
  ios/MeasureSDKTests/Performance/CpuUsageCollectorTests.swift
  ios/MeasureSDKTests/Performance/MemoryUsageCalculatorTests.swift
  ios/MeasureSDKTests/Performance/MemoryUsageCollectorTests.swift
  ios/TestApp/MockMeasureInitializer.swift
Labels: chore, ios

#1533 feat(android): expose APIs to start/stop SDK
  android/measure/api/measure.api
  android/measure/src/androidTest/java/sh/measure/android/FakeConfigProvider.kt
  android/measure/src/androidTest/java/sh/measure/android/NoopPeriodicEventExporter.kt
  android/measure/src/androidTest/java/sh/measure/android/SessionTestRobot.kt
  android/measure/src/androidTest/java/sh/measure/android/TestClock.kt
  android/measure/src/androidTest/java/sh/measure/android/TestMeasureInitializer.kt
  android/measure/src/main/java/sh/measure/android/Measure.kt
  android/measure/src/main/java/sh/measure/android/MeasureInitializer.kt
  android/measure/src/main/java/sh/measure/android/MeasureInternal.kt
  android/measure/src/main/java/sh/measure/android/NativeBridge.kt
  android/measure/src/main/java/sh/measure/android/SessionManager.kt
  android/measure/src/main/java/sh/measure/android/appexit/AppExitCollector.kt
  android/measure/src/main/java/sh/measure/android/applaunch/AppLaunchCollector.kt
  android/measure/src/main/java/sh/measure/android/applaunch/LaunchTracker.kt
  android/measure/src/main/java/sh/measure/android/config/Config.kt
  android/measure/src/main/java/sh/measure/android/config/ConfigProvider.kt
  android/measure/src/main/java/sh/measure/android/config/DefaultConfig.kt
  android/measure/src/main/java/sh/measure/android/config/MeasureConfig.kt
  android/measure/src/main/java/sh/measure/android/events/EventProcessor.kt
  android/measure/src/main/java/sh/measure/android/events/UserTriggeredEventCollector.kt
  android/measure/src/main/java/sh/measure/android/exceptions/UnhandledExceptionCollector.kt
  android/measure/src/main/java/sh/measure/android/exporter/PeriodicEventExporter.kt
  android/measure/src/main/java/sh/measure/android/gestures/GestureCollector.kt
  android/measure/src/main/java/sh/measure/android/gestures/WindowInterceptor.kt
  android/measure/src/main/java/sh/measure/android/lifecycle/ActivityLifecycleCollector.kt
  android/measure/src/main/java/sh/measure/android/lifecycle/AppLifecycleCollector.kt
  android/measure/src/main/java/sh/measure/android/lifecycle/AppLifecycleManager.kt
  android/measure/src/main/java/sh/measure/android/navigation/ComposeNavigationCollector.kt
  android/measure/src/main/java/sh/measure/android/networkchange/NetworkChangesCollector.kt
  android/measure/src/main/java/sh/measure/android/okhttp/HttpEventCollector.kt
  android/measure/src/main/java/sh/measure/android/okhttp/OkHttpEventCollector.kt
  android/measure/src/main/java/sh/measure/android/performance/ComponentCallbacksCollector.kt
  android/measure/src/main/java/sh/measure/android/utils/ResumedActivityProvider.kt
  android/measure/src/test/java/sh/measure/android/SessionManagerTest.kt
  android/measure/src/test/java/sh/measure/android/appexit/AppExitCollectorTest.kt
  android/measure/src/test/java/sh/measure/android/events/UserTriggeredEventCollectorImplTest.kt
  android/measure/src/test/java/sh/measure/android/exceptions/UnhandledExceptionCollectorTest.kt
  android/measure/src/test/java/sh/measure/android/exporter/PeriodicEventExporterTest.kt
  android/measure/src/test/java/sh/measure/android/fakes/FakeConfigProvider.kt
  android/measure/src/test/java/sh/measure/android/lifecycle/ActivityLifecycleCollectorTest.kt
  android/measure/src/test/java/sh/measure/android/lifecycle/AppLifecycleCollectorTest.kt
  android/measure/src/test/java/sh/measure/android/okhttp/OkHttpEventCollectorTest.kt
  android/measure/src/test/java/sh/measure/android/performance/ComponentCallbacksCollectorTest.kt
  android/sample/build.gradle.kts
  android/sample/src/main/java/sh/measure/sample/ExceptionDemoActivity.kt
  android/sample/src/main/java/sh/measure/sample/SampleApp.kt
  android/sample/src/main/res/layout/activity_exception_demo.xml
  android/sample/src/main/res/values/strings.xml
  docs/android/README.md
  docs/android/configuration-options.md
Labels: feature, android

#1536 chore(android): bump up curtains to 1.2.5
  android/gradle/libs.versions.toml
Labels: chore, android

#1538 fix(android): initialization issues
  android/measure/src/androidTest/java/sh/measure/android/NoopPeriodicEventExporter.kt
  android/measure/src/main/java/sh/measure/android/MeasureInternal.kt
  android/measure/src/main/java/sh/measure/android/events/EventProcessor.kt
  android/measure/src/main/java/sh/measure/android/exporter/Heartbeat.kt
  android/measure/src/main/java/sh/measure/android/exporter/PeriodicEventExporter.kt
  android/measure/src/main/java/sh/measure/android/networkchange/NetworkChangesCollector.kt
  android/measure/src/test/java/sh/measure/android/exporter/PeriodicEventExporterTest.kt
Labels: bug, android

#1537 docs(android): update benchmarks & related information in README
  android/docs/internal-documentation.md
  android/gradle/libs.versions.toml
  android/measure/src/main/java/sh/measure/android/Measure.kt
  android/measure/src/main/java/sh/measure/android/events/EventProcessor.kt
  docs/android/README.md
Labels: chore, android

#1539 fix(android): revert usage of reentrant lock for heartbeat and SDK initialization
  android/measure/src/main/java/sh/measure/android/MeasureInternal.kt
  android/measure/src/main/java/sh/measure/android/exporter/Heartbeat.kt
Labels: bug, android
