Repository measure-sh/measure, pull requests merged in 2025-02, with the labels that each got.

#1779 chore(ios): add attachment support
  ios/DemoApp/AppDelegate.swift
  ios/DemoApp/Info.plist
  ios/MeasureSDK.xcodeproj/project.pbxproj
  ios/MeasureSDK.xcodeproj/xcshareddata/xcbaselines/524CC5C12C6A4B12001AB506.xcbaseline/E552B52D-18DF-4182-8646-6CF8B09F67FA.plist
  ios/MeasureSDK.xcodeproj/xcshareddata/xcbaselines/524CC5C12C6A4B12001AB506.xcbaseline/Info.plist
  ios/MeasureSDK/Config/BaseConfigProvider.swift
  ios/MeasureSDK/Config/Config.swift
  ios/MeasureSDK/Config/InternalConfig.swift
  ios/MeasureSDK/CoreData/Entities/EventEntity.swift
  ios/MeasureSDK/CoreData/EventStore.swift
  ios/MeasureSDK/CrashReporter/CrashReportingManager.swift
  ios/MeasureSDK/Events/Attachment.swift
  ios/MeasureSDK/Events/AttachmentProcessor.swift
  ios/MeasureSDK/Events/AttachmentType.swift
  ios/MeasureSDK/Events/EventProcessor.swift
  ios/MeasureSDK/Exporter/EventSerializer.swift
  ios/MeasureSDK/Exporter/HttpClient.swift
  ios/MeasureSDK/Exporter/HttpModels.swift
  ios/MeasureSDK/Exporter/NetworkClient.swift
  ios/MeasureSDK/Gestures/GestureCollector.swift
  ios/MeasureSDK/Gestures/GestureDetector.swift
  ios/MeasureSDK/Gestures/GestureTargetFinder.swift
  ios/MeasureSDK/LayoutInspector/BaseSvgGenerator.swift
  ios/MeasureSDK/LayoutInspector/LayoutSnapshotGenerator.swift
  ios/MeasureSDK/Measure.swift
  ios/MeasureSDK/MeasureInitializer.swift
  ios/MeasureSDK/MeasureInternal.swift
  ios/MeasureSDK/Screenshots/ScreenshotGenerator.swift
  ios/MeasureSDK/Utils/Constants.swift
  ios/MeasureSDK/Utils/Extensions/UIColor+Extension.swift
  ios/MeasureSDK/Utils/SystemFileManager.swift
  ios/MeasureSDK/Utils/UserPermissionManager.swift
  ios/MeasureSDKTests/Config/BaseConfigProviderTests.swift
  ios/MeasureSDKTests/CrashReporter/CrashReportingManagerTests.swift
  ios/MeasureSDKTests/Event/EventProcessorTests.swift
  ios/MeasureSDKTests/Exporter/EventSerializerTests.swift
  ios/MeasureSDKTests/LayoutInspector/LayoutSnapshotGeneratorTests.swift
  ios/MeasureSDKTests/Mocks/MockAttachmentProcessor.swift
  ios/MeasureSDKTests/Mocks/MockConfigProvider.swift
  ios/MeasureSDKTests/Mocks/MockScreenshotGenerator.swift
  ios/MeasureSDKTests/Mocks/MockSvgGenerator.swift
  ios/MeasureSDKTests/Mocks/MockSystemFileManager.swift
  ios/MeasureSDKTests/Mocks/MockUserPermissionManager.swift
  ios/MeasureSDKTests/ScreenshotGenerator/ScreenshotGeneratorTests.swift
  ios/TestApp/MockMeasureInitializer.swift
Labels: chore, ios

#1809 ci(flutter): setup CI for Flutter lint and test
  .github/workflows/flutter.yml
  flutter/measure_flutter/android/build.gradle
  flutter/measure_flutter/example/android/.gitignore
  flutter/measure_flutter/example/android/app/build.gradle
  flutter/measure_flutter/example/android/gradle/wrapper/gradle-wrapper.jar
  flutter/measure_flutter/example/android/gradlew
  flutter/measure_flutter/example/android/gradlew.bat
  flutter/measure_flutter/example/android/local.properties
  flutter/measure_flutter/example/integration_test/plugin_integration_test.dart
  flutter/measure_flutter/example/test/widget_test.dart
  flutter/measure_flutter/lib/src/events/custom_event_collector.dart
  flutter/measure_flutter/lib/src/events/event_types.dart
  flutter/measure_flutter/lib/src/measure_initializer.dart
  flutter/measure_flutter/lib/src/method_channel/method_constants.dart
  flutter/measure_flutter/lib/src/method_channel/msr_method_channel.dart
  flutter/measure_flutter/lib/src/method_channel/signal_processor.dart
  flutter/measure_flutter/test/utils/mock_signal_processor.dart
Labels: flutter

#1820 chore(android): update robolectric
  android/gradle/libs.versions.toml
  android/measure/build.gradle.kts
  android/measure/src/androidTest/AndroidManifest.xml
  android/measure/src/androidTest/java/sh/measure/android/EventsTest.kt
  android/measure/src/androidTest/java/sh/measure/android/EventsTestRobot.kt
  android/measure/src/test/java/sh/measure/android/networkchange/InitialNetworkStateProviderTest.kt
  android/measure/src/test/java/sh/measure/android/networkchange/NetworkChangesCollectorTest.kt
  android/measure/src/test/java/sh/measure/android/utils/ScreenshotCollectorTest.kt
Labels: android

#1823 chore(ios): add scripts to upload dsyms
  ios/README.md
  ios/Scripts/upload_dsym_build_phases.sh
  ios/Scripts/upload_dsyms.sh
Labels: chore, ios

#1811 ci(ios): run lint checks
  .github/workflows/ios.yml
  ios/MeasureSDK.xcodeproj/project.pbxproj
  ios/MeasureSDK.xcodeproj/xcshareddata/xcschemes/MeasureSDK.xcscheme
  ios/MeasureSDK.xcodeproj/xcshareddata/xcschemes/TestApp.xcscheme
  ios/Sources/Tests/MeasureSDKTests/Exporter/HeartbeatTests.swift
Labels: chore, ios
