Repository measure-sh/measure, pull requests merged in 2025-03, with the labels that each got.

#1849 ci(flutter): disable ios tests for flutter
  .github/workflows/flutter.yml
Labels: android

#1848 feat(android): add attributes to spans
  android/measure/api/measure.api
  android/measure/src/main/java/sh/measure/android/exporter/NetworkPackets.kt
  android/measure/src/main/java/sh/measure/android/storage/Database.kt
  android/measure/src/main/java/sh/measure/android/storage/DbConstants.kt
  android/measure/src/main/java/sh/measure/android/storage/Entities.kt
  android/measure/src/main/java/sh/measure/android/storage/SpanDataExtenstions.kt
  android/measure/src/main/java/sh/measure/android/tracing/InternalSpan.kt
  android/measure/src/main/java/sh/measure/android/tracing/InvalidSpan.kt
  android/measure/src/main/java/sh/measure/android/tracing/MsrSpan.kt
  android/measure/src/main/java/sh/measure/android/tracing/Span.kt
  android/measure/src/main/java/sh/measure/android/tracing/SpanData.kt
  android/measure/src/main/java/sh/measure/android/tracing/SpanProcessor.kt
  android/measure/src/test/java/sh/measure/android/exporter/MultipartDataFactoryTest.kt
  android/measure/src/test/java/sh/measure/android/fakes/TestData.kt
  android/measure/src/test/java/sh/measure/android/tracing/MsrSpanTest.kt
  android/sample/src/main/java/sh/measure/sample/ExceptionDemoActivity.kt
  docs/android/features/feature_performance_tracing.md
Labels: feature, android

#1865 chore(android): record new session with user ID
  android/sample/src/main/java/sh/measure/sample/ExceptionDemoActivity.kt
  android/sample/src/main/res/layout/activity_exception_demo.xml
  android/sample/src/main/res/values/strings.xml
  self-host/session-data/sh.measure.sample/0.10.0-SNAPSHOT.debug/5bc5c5e6-5b05-4a4e-b83e-f69704f7d221.json
  self-host/session-data/sh.measure.sample/0.10.0-SNAPSHOT.debug/blobs/02dd91f7-8805-420f-ad53-f63884b6a7b1
  self-host/session-data/sh.measure.sample/0.10.0-SNAPSHOT.debug/blobs/4d8e59f0-db7d-4104-a0c6-17cb2db43788
  self-host/session-data/sh.measure.sample/0.10.0-SNAPSHOT.debug/blobs/5e5e6585-e5cc-4e59-b303-e1c83c0af09c
  self-host/session-data/sh.measure.sample/0.10.0-SNAPSHOT.debug/blobs/7a5ab34f-21e6-45de-afec-08e962509fc1
  self-host/session-data/sh.measure.sample/0.10.0-SNAPSHOT.debug/blobs/8efcc4a9-18cd-4d45-8019-022b4f8a3f6b
  self-host/session-data/sh.measure.sample/0.10.0-SNAPSHOT.debug/blobs/9f8cf36f-4471-4e88-9e29-6f1bdeaa2727
  self-host/session-data/sh.measure.sample/0.10.0-SNAPSHOT.debug/blobs/caea9115-6625-4901-a45f-594858a89be9
  self-host/session-data/sh.measure.sample/0.10.0-SNAPSHOT.debug/blobs/d016044c-8ad4-4fdc-a5d3-2c264325ef0d
  self-host/session-data/sh.measure.sample/0.10.0-SNAPSHOT.debug/blobs/f7768edd-5578-4f13-8b35-f70c92e1d518
  self-host/session-data/sh.measure.sample/0.10.0-SNAPSHOT.debug/cc0b0ef5-9483-4cdc-8400-e170073767f5.json
Labels: android

#1869 chore(ios): add release scripts
  .github/workflows/ios.yml
  .gitignore
  MeasureSDK.podspec
  Package.swift
  ios/CHANGELOG.md
  ios/MeasureSDK.podspec
  ios/PublicApi/MeasureSDK.swiftinterface
  ios/README.md
  ios/RELEASE.md
  ios/Scripts/release.sh
  ios/cliff.toml
Labels: chore, ios

#1876 chore(ios): update release scripts
  .github/workflows/ios.yml
  ios/RELEASE.md
  ios/Scripts/release.sh
Labels: chore, ios

#1877 chore(ios): prepare sdk release 0.0.1-rc1
  MeasureSDK.podspec
  ios/CHANGELOG.md
  ios/README.md
Labels: chore, ios

#1118 Update API schema for exceptions to support iOS crash reporting
  docs/api/sdk/README.md
Labels: docs

#1885 fix(ios): update in_app generation logic
  ios/Sources/MeasureSDK/Swift/CrashReporter/CrashDataFormatter.swift
Labels: bug, ios

#1889 feat(android): track fragment ttid
  android/measure/api/measure.api
  android/measure/src/androidTest/java/sh/measure/android/FakeConfigProvider.kt
  android/measure/src/androidTest/java/sh/measure/android/TestMeasureInitializer.kt
  android/measure/src/main/java/sh/measure/android/MeasureInitializer.kt
  android/measure/src/main/java/sh/measure/android/config/Config.kt
  android/measure/src/main/java/sh/measure/android/config/ConfigProvider.kt
  android/measure/src/main/java/sh/measure/android/config/DefaultConfig.kt
  android/measure/src/main/java/sh/measure/android/config/MeasureConfig.kt
  android/measure/src/main/java/sh/measure/android/lifecycle/ActivityLifecycleCollector.kt
  android/measure/src/main/java/sh/measure/android/lifecycle/FragmentLifecycleCollector.kt
  android/measure/src/main/java/sh/measure/android/tracing/SpanConstants.kt
  android/measure/src/test/java/sh/measure/android/ChildFragment.kt
  android/measure/src/test/java/sh/measure/android/TestFragment.kt
  android/measure/src/test/java/sh/measure/android/TestLifecycleActivity.kt
  android/measure/src/test/java/sh/measure/android/applaunch/LaunchTrackerTest.kt
  android/measure/src/test/java/sh/measure/android/fakes/FakeConfigProvider.kt
  android/measure/src/test/java/sh/measure/android/lifecycle/ActivityLifecycleCollectorTest.kt
  android/measure/src/test/java/sh/measure/android/utils/ActivityControllerExt.kt
  android/measure/src/test/java/sh/measure/android/utils/FakeTraceSampler.kt
  android/measure/src/test/java/sh/measure/android/utils/TestTracer.kt
  android/measure/src/test/res/layout/activity_test_lifecycle.xml
  android/measure/src/test/res/layout/activity_view_screenshot_test.xml
  android/measure/src/test/res/layout/fragment_child.xml
  android/measure/src/test/res/layout/fragment_test.xml
  android/sample/src/main/res/layout/fragment_child.xml
  docs/android/README.md
  docs/android/features/feature_activity_load_time.md
  docs/android/features/feature_screen_load_time.md
  docs/android/images/screenLoadSpan.png
Labels: feature, android

#1893 chore(backend): update ci changelog
  .github/workflows/changelog.yml
  cliff.toml
Labels: chore, backend

#1894 chore(backend): update go toolchain version
  backend/api/go.mod
  backend/cleanup/go.mod
  backend/migrator/go.mod
  go.work
Labels: chore, backend

#1897 fix(backend): codeql integer conversion error
  self-host/sessionator/app/build.go
  self-host/sessionator/cmd/record.go
Labels: bug, backend

#1899 chore(backend): clean more resources in sessionator
  self-host/sessionator/cmd/remove.go
  self-host/sessionator/cmd/rm.go
Labels: chore, backend

#1904 ios bug fixes
  ios/Sources/MeasureSDK/Swift/Events/AttachmentType.swift
  ios/Sources/MeasureSDK/Swift/Performance/CpuUsageData.swift
  ios/Sources/MeasureSDK/Swift/Utils/SysCtl.swift
  ios/Tests/MeasureSDKTests/Mocks/MockSysCtl.swift
Labels: bug, ios

#1902 fix(backend): sessionator record & ingest errors
  backend/api/codec/codec.go
  backend/api/measure/event.go
  self-host/sessionator/app/scan.go
  self-host/sessionator/cmd/ingest.go
Labels: bug, backend

#1907 fix(backend): fix an issue where clock_speed validation was failing
  backend/api/event/event.go
  docs/api/sdk/README.md
  self-host/clickhouse/20250315090713_alter_events_table.sql
Labels: bug, backend

#1914 chore(backend): support .dylib mapping files in ios
  backend/api/measure/mapping.go
  backend/api/symbol/dif.go
  backend/api/symbol/dif_test.go
Labels: chore, backend

#1916 fix(frontend): improve crash display for ios
  frontend/dashboard/app/components/exceptions_overview.tsx
Labels: bug, frontend

#1918 docs(backend): update sdk api docs
  docs/api/sdk/README.md
Labels: docs, backend

#1863 docs(ios): update feature documentation
  .gitignore
  README.md
  docs/README.md
  docs/ios/README.md
  docs/ios/features/feature_app_launch.md
  docs/ios/features/feature_app_lifecycle.md
  docs/ios/features/feature_cpu_monitoring.md
  docs/ios/features/feature_crash_tracking.md
  docs/ios/features/feature_gesture_tracking.md
  docs/ios/features/feature_layout_snapshots.md
  docs/ios/features/feature_memory_monitoring.md
  docs/ios/features/feature_navigation_and_lifecycle.md
  docs/ios/features/feature_network_changes.md
  docs/ios/features/feature_network_monitoring.md
  docs/ios/images/layoutSnapshot.svg
  docs/ios/images/layoutSnapshotScreenshot.png
  ios/MeasureSDK.xcodeproj/project.pbxproj
  ios/README.md
  ios/Sources/MeasureSDK/Objc/include/MSRViewController.h
  ios/Sources/MeasureSDK/Swift/Http/NetworkInterceptor.swift
  ios/Sources/MeasureSDK/Swift/LayoutInspector/LayoutSnapshotGenerator.swift
  ios/Sources/MeasureSDK/Swift/Lifecycle/MeasureViewController.swift
  ios/Sources/MeasureSDK/Swift/Lifecycle/MsrMoniterView.swift
  ios/Tests/MeasureSDKTests/Gestures/GestureTargetFinderTests.swift
Labels: docs, ios

#1922 refactor(ios): rename NetworkInterceptor to MsrNetworkInterceptor
  docs/ios/README.md
  docs/ios/features/feature_network_monitoring.md
  ios/MeasureSDK.xcodeproj/project.pbxproj
  ios/PublicApi/MeasureSDK.swiftinterface
  ios/Sources/MeasureSDK/Swift/Http/MsrNetworkInterceptor.swift
  ios/Sources/MeasureSDK/Swift/Http/URLSessionTaskInterceptor.swift
Labels: refactor, ios

#1924 fix(backend): fix issue with sessionator clean-all flag
  self-host/sessionator/cmd/rm.go
Labels: bug, backend

#1925 chore(android): upgrade AGP and downgrade androidx.core
  android/gradle/libs.versions.toml
  android/gradle/wrapper/gradle-wrapper.properties
  android/measure-android-gradle/src/functionalTest/kotlin/sh/measure/MeasurePluginTest.kt
Labels: android

#1927 fix(backend): fix a panic during anr symbolication
  backend/api/symbolicator/symbolicator.go
Labels: bug, backend

#1933 fix(backend): fix partial android symbolication
  backend/api/symbolicator/payload.go
  backend/api/symbolicator/symbolicator.go
  self-host/compose.yml
Labels: bug, backend

#1935 fix(backend): remove mapping file size validation
  backend/api/measure/mapping.go
  backend/api/server/server.go
  docs/api/sdk/README.md
Labels: bug, backend

#1937 chore(backend): update migration script
  docs/hosting/README.md
  self-host/config.sh
  self-host/install.sh
Labels: chore, backend

#1944 fix(backend): anr exception type was not symbolicated
  backend/api/symbolicator/symbolicator.go
Labels: bug, backend

#1947 feat(backend): symbolicate ttid span classes
  backend/api/measure/event.go
  backend/api/span/span.go
  backend/api/symbolicator/symbolicator.go
Labels: feature, backend

#1948 fix(backend): broken session pagination with user defined attrs
  backend/api/measure/session.go
Labels: bug, backend

#1952 fix(android): truncate TTID span names to fit max span length
  android/measure/src/main/java/sh/measure/android/applaunch/LaunchTracker.kt
  android/measure/src/main/java/sh/measure/android/lifecycle/FragmentLifecycleCollector.kt
  android/measure/src/main/java/sh/measure/android/tracing/SpanConstants.kt
  android/measure/src/test/java/sh/measure/android/tracing/SpanNameTest.kt
Labels: bug, android

#1962 chore(backend): change compose command detection logic
  self-host/install.sh
Labels: chore, backend

#1967 fix(backend): filter duplicate ud attribute keys
  backend/api/filter/appfilter.go
  backend/api/measure/app.go
  backend/api/measure/bugreport.go
  backend/api/measure/event.go
  backend/api/measure/session.go
  backend/api/span/span.go
  self-host/clickhouse/20250325045646_replace_user_def_attrs_table.sql
  self-host/clickhouse/20250325052401_alter_user_def_attrs_mv.sql
  self-host/clickhouse/20250325094723_replace_span_user_def_attrs_table.sql
  self-host/clickhouse/20250325100452_alter_span_user_def_attrs_mv.sql
Labels: bug, backend

#1956 docs(ios): update readme
  docs/ios/README.md
  docs/ios/features/feature_navigation_and_lifecycle.md
  ios/DemoApp/Controller/ObjcDetailViewController.h
  ios/DemoApp/Controller/ViewController.swift
  ios/MeasureSDK.xcodeproj/project.pbxproj
  ios/PublicApi/Measure.swiftinterface
  ios/PublicApi/MeasureSDK.swiftinterface
  ios/Sources/MeasureSDK/Objc/include/MSRViewController.h
  ios/Sources/MeasureSDK/Swift/Http/MSRNetworkInterceptor.swift
  ios/Sources/MeasureSDK/Swift/Http/URLSessionTaskInterceptor.swift
  ios/Sources/MeasureSDK/Swift/Lifecycle/MsrViewController.swift
  ios/Sources/MeasureSDK/Swift/Measure.swift
  ios/TestApp/ViewController.swift
Labels: docs, ios

#1970 Ios api key url check
  ios/Sources/MeasureSDK/Swift/Config/ClientInfo.swift
  ios/Sources/MeasureSDK/Swift/Measure.swift
  ios/Sources/MeasureSDK/Swift/Utils/Constants.swift
Labels: bug, ios

#1974 fix(backend): mismatch and duplicate sessions
  backend/api/measure/bugreport.go
  backend/api/measure/event.go
  backend/api/measure/session.go
  backend/api/span/span.go
Labels: bug, backend

#1975 chore(ios): log error messages when upload dsym script fails
  ios/Scripts/upload_dsyms.sh
Labels: chore, ios

#1977 chore(backend): add data backfill for upcoming release
  docs/hosting/README.md
  docs/hosting/migration-guides/README.md
  docs/hosting/migration-guides/v0.6.x/README.md
  self-host/migrations/v0.6.x-data-backfills.sh
Labels: docs, chore, backend

#1978 fix(backend): incorrect data backfill script
  self-host/migrations/v0.6.x-data-backfills.sh
Labels: bug, backend

#1980 chore(ios): add http event configurations to measure config
  docs/ios/README.md
  docs/ios/configuration-options.md
  ios/MeasureSDK.xcodeproj/project.pbxproj
  ios/PublicApi/Measure.swiftinterface
  ios/Sources/MeasureSDK/Swift/Config/BaseConfigProvider.swift
  ios/Sources/MeasureSDK/Swift/Config/Config.swift
  ios/Sources/MeasureSDK/Swift/Config/DefaultConfig.swift
  ios/Sources/MeasureSDK/Swift/Config/MeasureConfig.swift
  ios/Sources/MeasureSDK/Swift/Http/HttpEventCollector.swift
  ios/Sources/MeasureSDK/Swift/Http/HttpEventValidator.swift
  ios/Sources/MeasureSDK/Swift/Http/MSRNetworkInterceptor.swift
  ios/Sources/MeasureSDK/Swift/Http/NetworkInterceptorProtocol.swift
  ios/Sources/MeasureSDK/Swift/Http/URLSessionTaskInterceptor.swift
  ios/Sources/MeasureSDK/Swift/MeasureInitializer.swift
  ios/TestApp/MockMeasureInitializer.swift
  ios/Tests/MeasureSDKTests/Http/HttpEventValidatorTests.swift
  ios/Tests/MeasureSDKTests/Mocks/MockConfigProvider.swift
Labels: chore, ios

#1984 fix(backend): broken builds api for older android sdks
  backend/api/measure/mapping.go
Labels: bug, backend

#1987 chore(ios): prepare sdk release 0.1.0
  Measure.podspec
  docs/ios/README.md
  ios/CHANGELOG.md
  ios/Sources/MeasureSDK/Swift/FrameworkInfo.swift
Labels: chore, ios

#1988 Revert "chore(ios): prepare sdk release 0.1.0"
  Measure.podspec
  docs/ios/README.md
  ios/CHANGELOG.md
  ios/Sources/MeasureSDK/Swift/FrameworkInfo.swift
Labels: ios

#1986 chore(android): add platform to builds API request
  android/measure-android-gradle/src/main/kotlin/sh/measure/BuildUploadTask.kt
  android/measure-android-gradle/src/test/kotlin/sh/measure/BuildUploadTaskTest.kt
Labels: android

#1989 chore(android): prepare android gradle plugin release 0.8.0
  android/CHANGELOG.md
  android/measure-android-gradle/gradle.properties
  docs/android/README.md
Labels: android

#1994 chore(ios): update heartbeat tests
  ios/Tests/MeasureSDKTests/Exporter/HeartbeatTests.swift
Labels: chore, ios

#1998 chore(ios): update pod name to measure-sh
  docs/ios/README.md
  measure-sh.podspec
Labels: chore, ios

#1999 chore(ios): update release script
  ios/RELEASE.md
  ios/Scripts/release.sh
Labels: chore, ios

#2000 chore(ios): prepare sdk release 0.1.0
  docs/ios/README.md
  ios/CHANGELOG.md
  ios/Sources/MeasureSDK/Swift/FrameworkInfo.swift
  measure-sh.podspec
Labels: chore, ios
