Repository measure-sh/measure, pull requests merged in 2025-01, with the labels that each got.

#1675 refactor(backend): use aws-sdk-go-v2 for object uploads
  backend/api/event/attachment.go
  backend/api/go.mod
  backend/api/go.sum
  backend/api/measure/app.go
  backend/api/measure/event.go
  backend/api/measure/mapping.go
  go.work.sum
Labels: refactor, backend

#1628 Add support for iOS journeys
  backend/api/journey/android.go
  backend/api/journey/android_events_one.json
  backend/api/journey/android_events_three.json
  backend/api/journey/android_events_two.json
  backend/api/journey/android_test.go
  backend/api/journey/ios.go
  backend/api/journey/ios_events_one.json
  backend/api/journey/ios_test.go
  backend/api/journey/journey.go
  backend/api/measure/app.go
Labels: feature, backend

#1679 fix(frontend): show memory usage in mbs in session timeline
  frontend/dashboard/__tests__/utils/number_utils.test.ts
  frontend/dashboard/app/components/session_replay.tsx
  frontend/dashboard/app/utils/number_utils.ts
Labels: bug, frontend

#1673 fix(android): remove unneeded view id prefix in gesture events
  android/measure/src/main/java/sh/measure/android/layoutinspector/LayoutInspector.kt
Labels: bug, android

#1677 feat(ios): expose API to get current session ID
  ios/MeasureSDK/Measure.swift
Labels: chore, ios

#1686 fix(backend): log extra info during ingestion failure
  backend/api/measure/event.go
Labels: bug, backend

#1687 chore(backend): remove unneeded log lines
  backend/api/event/userdefattr.go
Labels: chore, backend

#1685 feat: support iOS metrics
  backend/api/measure/app.go
  frontend/dashboard/app/api/api_calls.ts
  frontend/dashboard/app/components/metrics_overview.tsx
Labels: feature, backend, frontend

#1694 docs(android): update cheatsheet with custom events API
  docs/android/images/cheatsheet_v0.9.0.png
Labels: docs, android

#1703 chore(backend): add new scopes to commitlint
  .commitlintrc.js
Labels: chore, backend

#1705 chore(backend): support `flutter` & `rn` in cliff config
  cliff.toml
Labels: chore, backend

#1706 chore: improve automated changelog formatting
  cliff.toml
Labels: chore

#1714 chore(backend): update dependencies
  backend/api/go.mod
  backend/api/go.sum
  backend/cleanup/go.mod
  backend/cleanup/go.sum
  go.work
  go.work.sum
  self-host/sessionator/go.mod
  self-host/sessionator/go.sum
Labels: chore, backend

#1716 chore(backend): update go dependencies
  go.work.sum
  self-host/sessionator/go.mod
  self-host/sessionator/go.sum
Labels: chore, backend

#1717 chore(backend): sync `go.work.sum`
  backend/api/go.mod
  backend/api/go.sum
  go.work.sum
Labels: chore, backend

#1612 chore(ios): track and export http events
  docs/ios/README.md
  docs/ios/features/feature_network_monitoring.md
  ios/MeasureSDK.xcodeproj/project.pbxproj
  ios/MeasureSDK.xcodeproj/xcshareddata/xcschemes/DemoApp.xcscheme
  ios/MeasureSDK/Config/BaseConfigProvider.swift
  ios/MeasureSDK/Config/Config.swift
  ios/MeasureSDK/Config/InternalConfig.swift
  ios/MeasureSDK/CoreData/Entities/EventEntity.swift
  ios/MeasureSDK/CoreData/EventStore.swift
  ios/MeasureSDK/Events/EventType.swift
  ios/MeasureSDK/Exporter/EventSerializer.swift
  ios/MeasureSDK/Exporter/PeriodicEventExporter.swift
  ios/MeasureSDK/Http/HttpData.swift
  ios/MeasureSDK/Http/HttpEventCollector.swift
  ios/MeasureSDK/Http/HttpInterceptorCallbacks.swift
  ios/MeasureSDK/Http/NetworkInterceptor.swift
  ios/MeasureSDK/Http/NetworkInterceptorProtocol.swift
  ios/MeasureSDK/Http/URLSessionTaskInterceptor.swift
  ios/MeasureSDK/Http/URLSessionTaskSwizzler.swift
  ios/MeasureSDK/Measure.swift
  ios/MeasureSDK/MeasureInitializer.swift
  ios/MeasureSDK/MeasureInternal.swift
  ios/MeasureSDK/Performance/CpuUsageCalculator.swift
  ios/MeasureSDK/Utils/Constants.swift
  ios/MeasureSDK/Utils/Extensions/InputStream+Extension.swift
  ios/MeasureSDK/Utils/Extensions/String+Extension.swift
  ios/MeasureSDK/Utils/MeasureQueue.swift
  ios/MeasureSDK/XCDataModel/MeasureModel.xcdatamodeld/MeasureModel.xcdatamodel/contents
  ios/MeasureSDKTests/Exporter/EventSerializerTests.swift
  ios/MeasureSDKTests/Helper/TestDataGenerator.swift
  ios/TestApp/AppDelegate.swift
  ios/TestApp/MockMeasureInitializer.swift
Labels: chore, ios

#1683 chore(ios): track and export network change events
  docs/ios/README.md
  docs/ios/features/feature_network_changes.md
  ios/MeasureSDK.xcodeproj/project.pbxproj
  ios/MeasureSDK/CoreData/Entities/EventEntity.swift
  ios/MeasureSDK/CoreData/EventStore.swift
  ios/MeasureSDK/Events/EventType.swift
  ios/MeasureSDK/Exporter/EventSerializer.swift
  ios/MeasureSDK/MeasureInitializer.swift
  ios/MeasureSDK/MeasureInternal.swift
  ios/MeasureSDK/NetworkChange/NetworkChangeCallback.swift
  ios/MeasureSDK/NetworkChange/NetworkChangeCollector.swift
  ios/MeasureSDK/NetworkChange/NetworkChangeData.swift
  ios/MeasureSDK/NetworkChange/NetworkChangeDetector.swift
  ios/MeasureSDK/XCDataModel/MeasureModel.xcdatamodeld/MeasureModel.xcdatamodel/contents
Labels: chore, ios

#1676 chore(ios): add custom event tracking
  ios/DemoApp/Controller/ObjcDetailViewController.m
  ios/DemoApp/Controller/ViewController.swift
  ios/MeasureSDK.xcodeproj/project.pbxproj
  ios/MeasureSDK/AppLaunch/AppLaunchCollector.swift
  ios/MeasureSDK/Attribute/AttributeValue.swift
  ios/MeasureSDK/Config/BaseConfigProvider.swift
  ios/MeasureSDK/Config/Config.swift
  ios/MeasureSDK/Config/InternalConfig.swift
  ios/MeasureSDK/CoreData/Entities/EventEntity.swift
  ios/MeasureSDK/CoreData/EventStore.swift
  ios/MeasureSDK/CrashReporter/CrashReportingManager.swift
  ios/MeasureSDK/Events/CustomEventCollector.swift
  ios/MeasureSDK/Events/CustomEventData.swift
  ios/MeasureSDK/Events/Event.swift
  ios/MeasureSDK/Events/EventProcessor.swift
  ios/MeasureSDK/Events/EventType.swift
  ios/MeasureSDK/Exporter/EventSerializer.swift
  ios/MeasureSDK/Gestures/GestureCollector.swift
  ios/MeasureSDK/Http/HttpEventCollector.swift
  ios/MeasureSDK/Http/URLSessionTaskInterceptor.swift
  ios/MeasureSDK/Lifecycle/LifecycleCollector.swift
  ios/MeasureSDK/Measure.swift
  ios/MeasureSDK/MeasureInitializer.swift
  ios/MeasureSDK/MeasureInternal.swift
  ios/MeasureSDK/NetworkChange/NetworkChangeCollector.swift
  ios/MeasureSDK/Performance/CpuUsageCollector.swift
  ios/MeasureSDK/Performance/MemoryUsageCollector.swift
  ios/MeasureSDK/XCDataModel/MeasureModel.xcdatamodeld/MeasureModel.xcdatamodel/contents
  ios/MeasureSDKTests/Event/CustomEventCollectorTests.swift
  ios/MeasureSDKTests/Event/EventProcessorTests.swift
  ios/MeasureSDKTests/Exporter/EventSerializerTests.swift
  ios/MeasureSDKTests/Helper/TestDataGenerator.swift
  ios/MeasureSDKTests/Mocks/MockConfigProvider.swift
  ios/MeasureSDKTests/Mocks/MockEventProcessor.swift
  ios/TestApp/MockMeasureInitializer.swift
Labels: chore, ios

#1721 chore(ios): add screen view event
  ios/DemoApp/AppDelegate.swift
  ios/DemoApp/Controller/ObjcDetailViewController.m
  ios/DemoApp/Controller/ViewController.swift
  ios/MeasureSDK.xcodeproj/project.pbxproj
  ios/MeasureSDK/Config/Config.swift
  ios/MeasureSDK/CoreData/Entities/EventEntity.swift
  ios/MeasureSDK/CoreData/EventStore.swift
  ios/MeasureSDK/Events/EventType.swift
  ios/MeasureSDK/Events/ScreenViewData.swift
  ios/MeasureSDK/Events/UserTriggeredEventCollector.swift
  ios/MeasureSDK/Exporter/EventSerializer.swift
  ios/MeasureSDK/Measure.swift
  ios/MeasureSDK/MeasureInitializer.swift
  ios/MeasureSDK/MeasureInternal.swift
  ios/MeasureSDK/XCDataModel/MeasureModel.xcdatamodeld/MeasureModel.xcdatamodel/contents
Labels: chore, ios

#1727 docs(backend): address clickhouse high cpu usage
  docs/hosting/README.md
Labels: docs, backend

#1728 docs(backend): improve self hosting faq section
  docs/hosting/README.md
Labels: docs, backend

#1734 iOS bug fixes
  ios/MeasureSDK.xcodeproj/project.pbxproj
  ios/MeasureSDK/Gestures/GestureCollector.swift
  ios/MeasureSDK/Gestures/GestureDetector.swift
  ios/MeasureSDK/Gestures/GestureEvents.swift
  ios/MeasureSDK/Http/HttpData.swift
  ios/MeasureSDK/Http/NetworkInterceptorProtocol.swift
  ios/MeasureSDK/Http/URLSessionTaskInterceptor.swift
  ios/MeasureSDK/Performance/CpuUsageCollector.swift
  ios/MeasureSDK/Performance/MemoryUsageCollector.swift
  ios/MeasureSDKTests/Performance/CpuUsageCollectorTests.swift
  ios/MeasureSDKTests/Performance/MemoryUsageCollectorTests.swift
Labels: chore, ios

#1738 fix(backend): query all user defined attributes
  backend/api/filter/appfilter.go
Labels: bug, backend

#1744 chore(backend): add `--skip-apps` option
  self-host/sessionator/README.md
  self-host/sessionator/app/scan.go
  self-host/sessionator/cmd/ingest.go
Labels: docs, chore, backend

#1726 feat(backend): add support for iOS exceptions
  backend/api/event/event.go
  backend/api/event/frame.go
  backend/api/journey/android.go
  backend/api/journey/ios.go
  backend/api/measure/app.go
  backend/api/measure/event.go
  backend/api/numeric/numeric.go
  backend/api/platform/platform.go
  self-host/sessionator/README.md
Labels: feature, backend

#1733 chore(ios): add session sampling and data cleanup
  ios/DemoApp/AppDelegate.swift
  ios/MeasureSDK.xcodeproj/project.pbxproj
  ios/MeasureSDK/Config/BaseConfigProvider.swift
  ios/MeasureSDK/Config/Config.swift
  ios/MeasureSDK/Config/DefaultConfig.swift
  ios/MeasureSDK/Config/InternalConfig.swift
  ios/MeasureSDK/Config/MeasureConfig.swift
  ios/MeasureSDK/CoreData/DataCleanupService.swift
  ios/MeasureSDK/CoreData/Entities/EventEntity.swift
  ios/MeasureSDK/CoreData/EventStore.swift
  ios/MeasureSDK/CoreData/SessionStore.swift
  ios/MeasureSDK/Events/EventProcessor.swift
  ios/MeasureSDK/Exporter/EventSerializer.swift
  ios/MeasureSDK/MeasureInitializer.swift
  ios/MeasureSDK/MeasureInternal.swift
  ios/MeasureSDK/SessionManager.swift
  ios/MeasureSDK/XCDataModel/MeasureModel.xcdatamodeld/MeasureModel.xcdatamodel/contents
  ios/MeasureSDKTests/Config/BaseConfigProviderTests.swift
  ios/MeasureSDKTests/CoreData/DataCleanupServiceTests.swift
  ios/MeasureSDKTests/CoreData/SessionStoreTests.swift
  ios/MeasureSDKTests/Event/CustomEventCollectorTests.swift
  ios/MeasureSDKTests/Event/EventProcessorTests.swift
  ios/MeasureSDKTests/Exporter/EventSerializerTests.swift
  ios/MeasureSDKTests/Helper/TestDataGenerator.swift
  ios/MeasureSDKTests/Mocks/MockConfigProvider.swift
  ios/MeasureSDKTests/Mocks/MockEventStore.swift
  ios/MeasureSDKTests/Mocks/MockSessionManager.swift
  ios/MeasureSDKTests/SessionManagerTests.swift
  ios/TestApp/AppDelegate.swift
  ios/TestApp/MockMeasureInitializer.swift
Labels: chore, ios

#1753 Ios bug fixes
  ios/DemoApp/AppDelegate.swift
  ios/MeasureSDK/AppLaunch/LaunchTracker.swift
  ios/MeasureSDK/Exporter/EventSerializer.swift
  ios/MeasureSDK/Gestures/GestureDetector.swift
  ios/MeasureSDK/Measure.swift
  ios/MeasureSDK/MeasureInternal.swift
  ios/MeasureSDK/Utils/Extensions/String+Extension.swift
Labels: chore, ios

#1767 chore(backend): add lifecycle app type for ios
  backend/api/event/event.go
  docs/api/sdk/README.md
Labels: docs, chore, backend

#1770 fix(backend): clean up event batches stuck for a long time
  backend/api/measure/event.go
Labels: bug, backend

#1735 fix(android): support java 11
  android/gradle/libs.versions.toml
  android/measure-android-gradle/build.gradle.kts
Labels: bug, android

#1776 chore(backend): tidy sessionator `go.mod`
  self-host/sessionator/go.mod
Labels: chore, backend

#1777 fix(backend): svg layout attachments are not visible sometimes
  backend/api/measure/event.go
Labels: bug, backend

#1782 chore(ios): add privacy manifest
  ios/MeasureSDK.xcodeproj/project.pbxproj
  ios/MeasureSDK/MeasureSDKTests/Gestures/GestureTargetFinderTests.swift
  ios/MeasureSDK/Resources/PrivacyInfo.xcprivacy
Labels: chore, ios
