Repository measure-sh/measure, pull requests merged in 2025-09, with the labels that each got.

#2603 fix(ios): add proper implementation for LifecycleManagerInternal
  ios/MeasureSDK.xcodeproj/project.pbxproj
  ios/PublicApi/Measure.swiftinterface
  ios/Sources/MeasureSDK/Swift/Lifecycle/LifecycleManager.swift
  ios/Sources/MeasureSDK/Swift/Lifecycle/LifecycleManagerInternal.swift
Labels: bug, ios

#2605 chore(ios): update performance docs
  docs/features/performance-impact.md
Labels: chore, ios

#2612 fix(backend): update builds upload endpoint in sessionator
  self-host/sessionator/cmd/ingest.go
Labels: bug, backend

#2613 fix(backend): insert metrics asynchronously
  backend/api/measure/event.go
Labels: bug, backend

#2615 docs(backend): update sessionator example config
  docs/CONTRIBUTING.md
  self-host/session-data/config.toml.example
Labels: docs, backend

#2626 chore(ios): update upload dyms scripts
  ios/Scripts/upload_dsym_build_phases.sh
  ios/Scripts/upload_dsym_manual.sh
  ios/Scripts/upload_dsym_xcarchive.sh
  ios/Scripts/upload_dsyms.sh
Labels: chore, ios

#2628 feat(rn): add exception tracking
  docs/api/sdk/README.md
  react-native/android/.gitignore
  react-native/android/build.gradle.kts
  react-native/android/src/main/java/sh/measure/rn/Constants.kt
  react-native/android/src/main/java/sh/measure/rn/MapUtils.kt
  react-native/android/src/main/java/sh/measure/rn/MeasureModule.kt
  react-native/android/src/main/java/sh/measure/rn/MeasurePackage.kt
  react-native/android/src/main/java/sh/measurern/MapUtils.kt
  react-native/android/src/main/java/sh/measurern/MeasureModule.kt
  react-native/example/expo/src/App.tsx
  react-native/example/expo/src/HomeScreen.tsx
  react-native/example/rnExample/android/build.gradle
  react-native/ios/MeasureModule.swift
  react-native/ios/MeasureModuleBridge.m
  react-native/src/__tests__/exceptionBuilder.test.ts
  react-native/src/__tests__/measureErrorHandlers.test.ts
  react-native/src/__tests__/stacktraceParser.test.ts
  react-native/src/exception/exceptionBuilder.ts
  react-native/src/exception/measureErrorHandlers.ts
  react-native/src/exception/stacktraceParser.ts
  react-native/src/measure.ts
  react-native/src/measureInitializer.ts
  react-native/src/measureInternal.ts
  react-native/src/native/measureBridge.ts
  react-native/src/utils/timeProvider.ts
  yarn.lock
Labels: feature, reactnative

#2634 refactor(rn): refactor build scripts
  react-native/example/rnExample/android/app/build.gradle
  react-native/example/rnExample/android/build.gradle
Labels: refactor, reactnative

#2641 fix(ios): track proper session duration
  ios/Sources/MeasureSDK/Swift/AppLaunch/AppLaunchCollector.swift
  ios/Sources/MeasureSDK/Swift/AppLaunch/LaunchTracker.swift
  ios/Sources/MeasureSDK/Swift/Config/Config.swift
  ios/Sources/MeasureSDK/Swift/MeasureInternal.swift
  ios/Sources/MeasureSDK/Swift/Utils/LifecycleObserver.swift
  ios/Tests/MeasureSDKTests/Config/BaseConfigProviderTests.swift
Labels: bug, ios

#2668 Improved scaling by incorporating learnings from load tests
  .github/workflows/publish.yml
  backend/api/event/attachment.go
  backend/api/filter/shortfilters.go
  backend/api/go.mod
  backend/api/go.sum
  backend/api/measure/build.go
  backend/api/measure/event.go
  backend/api/measure/team.go
  backend/api/server/server.go
  backend/api/symbolicator/request.go
  backend/cleanup/server/server.go
  docker-bake.hcl
  frontend/dashboard/app/auth/callback/github/route.ts
  frontend/dashboard/app/auth/callback/google/route.ts
  go.work.sum
  self-host/k6/README.md
  self-host/k6/fixtures/sample-app.ts
  self-host/k6/load.ts
  self-host/k6/ping.ts
  self-host/migrations/v0.9.x-sync-databases.sh
  self-host/postgres/init-postgres.sh
  self-host/sessionator/go.mod
  self-host/sessionator/go.sum
Labels: docs, chore, backend, perf

#2672 chore(gradle): support new builds API
  android/measure-android-gradle/gradle.properties
  android/measure-android-gradle/src/main/kotlin/sh/measure/BuildUploadTask.kt
  android/measure-android-gradle/src/main/kotlin/sh/measure/MeasurePlugin.kt
  android/measure-android-gradle/src/test/kotlin/sh/measure/BuildUploadTaskTest.kt
  flutter/example/pubspec.lock
Labels: chore, android

#2671 chore(android): update session configs
  android/measure/src/androidTest/java/sh/measure/android/FakeConfigProvider.kt
  android/measure/src/androidTest/java/sh/measure/android/SessionTest.kt
  android/measure/src/androidTest/java/sh/measure/android/SessionTestRobot.kt
  android/measure/src/main/java/sh/measure/android/SessionManager.kt
  android/measure/src/main/java/sh/measure/android/config/Config.kt
  android/measure/src/main/java/sh/measure/android/config/ConfigProvider.kt
  android/measure/src/main/java/sh/measure/android/config/InternalConfig.kt
  android/measure/src/test/java/sh/measure/android/SessionManagerTest.kt
  android/measure/src/test/java/sh/measure/android/fakes/FakeConfigProvider.kt
  docs/features/feature-session-monitoring.md
Labels: chore, android

#2679 chore(android): support latest okhttp and navigation for auto collection
  android/gradle.properties
  android/gradle/libs.versions.toml
  android/measure-android-gradle/gradle.properties
  android/measure-android-gradle/src/main/kotlin/sh/measure/DependencyUtils.kt
  android/measure-android-gradle/src/main/kotlin/sh/measure/asm/NavigationTransformer.kt
  android/measure-android-gradle/src/main/kotlin/sh/measure/asm/OkHttpTransformer.kt
Labels: chore, android
