Repository measure-sh/measure, pull requests merged in 2025-07, with the labels that each got.

#2359 chore(android): remove shake to launch bug report config
  android/measure/api/measure.api
  android/measure/src/androidTest/java/sh/measure/android/FakeConfigProvider.kt
  android/measure/src/androidTest/java/sh/measure/android/MsrBugReportActivityRobot.kt
  android/measure/src/androidTest/java/sh/measure/android/MsrBugReportActivityTest.kt
  android/measure/src/androidTest/java/sh/measure/android/TestMeasureInitializer.kt
  android/measure/src/main/java/sh/measure/android/Measure.kt
  android/measure/src/main/java/sh/measure/android/MeasureInitializer.kt
  android/measure/src/main/java/sh/measure/android/MeasureInternal.kt
  android/measure/src/main/java/sh/measure/android/bugreport/BugReportCollector.kt
  android/measure/src/main/java/sh/measure/android/bugreport/MsrBugReportActivity.kt
  android/measure/src/main/java/sh/measure/android/bugreport/ShakeBugReportCollector.kt
  android/measure/src/main/java/sh/measure/android/config/Config.kt
  android/measure/src/main/java/sh/measure/android/config/ConfigProvider.kt
  android/measure/src/main/java/sh/measure/android/config/DefaultConfig.kt
  android/measure/src/main/java/sh/measure/android/config/MeasureConfig.kt
  android/measure/src/test/java/sh/measure/android/bugreport/ShakeBugReportCollectorTest.kt
  android/measure/src/test/java/sh/measure/android/fakes/FakeConfigProvider.kt
  android/sample/src/main/java/sh/measure/sample/ExceptionDemoActivity.kt
  docs/features/feature-bug-report-android.md
Labels: chore, android

#2365 chore(ios): update shake detector api
  docs/features/feature-bug-report-ios.md
  ios/DemoApp/AppDelegate.swift
  ios/PublicApi/Measure.swiftinterface
  ios/Sources/MeasureSDK/Swift/BugReport/ShakeBugReportCollector.swift
  ios/Sources/MeasureSDK/Swift/BugReport/ShakeDetector.swift
  ios/Sources/MeasureSDK/Swift/Config/Config.swift
  ios/Sources/MeasureSDK/Swift/Exception/ExceptionGenerator.swift
  ios/Sources/MeasureSDK/Swift/Measure.swift
  ios/Sources/MeasureSDK/Swift/MeasureInitializer.swift
  ios/Sources/MeasureSDK/Swift/MeasureInternal.swift
  ios/Tests/MeasureSDKTests/BugReport/ShakeBugReportCollectorTests.swift
  ios/Tests/MeasureSDKTests/Mocks/MockMeasureInitializer.swift
  ios/Tests/MeasureSDKTests/Mocks/MockShakeDetector.swift
Labels: chore, ios

#2355 feat(ios): add support for custom header
  ios/DemoApp/AppDelegate.swift
  ios/MeasureSDK.xcodeproj/project.pbxproj
  ios/PublicApi/Measure.swiftinterface
  ios/Scripts/upload_dsym_build_phases.sh
  ios/Scripts/upload_dsyms.sh
  ios/Sources/MeasureSDK/Swift/Config/BaseConfigProvider.swift
  ios/Sources/MeasureSDK/Swift/Config/Config.swift
  ios/Sources/MeasureSDK/Swift/Config/DefaultConfig.swift
  ios/Sources/MeasureSDK/Swift/Config/InternalConfig.swift
  ios/Sources/MeasureSDK/Swift/Config/MeasureConfig.swift
  ios/Sources/MeasureSDK/Swift/Config/MsrRequestHeadersProvider.swift
  ios/Sources/MeasureSDK/Swift/Exporter/HttpClient.swift
  ios/Sources/MeasureSDK/Swift/MeasureInitializer.swift
  ios/Tests/MeasureSDKTests/Exporter/HttpClientTests.swift
  ios/Tests/MeasureSDKTests/Mocks/MockConfigProvider.swift
Labels: feature, ios

#2367 feat(flutter): track gestures
  android/measure/src/main/java/sh/measure/android/events/InternalSignalCollector.kt
  android/measure/src/main/java/sh/measure/android/gestures/GestureEvents.kt
  android/measure/src/main/java/sh/measure/android/layoutinspector/LayoutInspector.kt
  flutter/.dart_tool/package_config.json
  flutter/packages/measure_dio/test/fake_measure.dart
  flutter/packages/measure_flutter/lib/measure.dart
  flutter/packages/measure_flutter/lib/src/events/event_type.dart
  flutter/packages/measure_flutter/lib/src/gestures/click_data.dart
  flutter/packages/measure_flutter/lib/src/gestures/click_data.g.dart
  flutter/packages/measure_flutter/lib/src/gestures/detected_element.dart
  flutter/packages/measure_flutter/lib/src/gestures/gesture_collector.dart
  flutter/packages/measure_flutter/lib/src/gestures/long_click_data.dart
  flutter/packages/measure_flutter/lib/src/gestures/long_click_data.g.dart
  flutter/packages/measure_flutter/lib/src/gestures/msr_gesture_detector.dart
  flutter/packages/measure_flutter/lib/src/gestures/scroll_data.dart
  flutter/packages/measure_flutter/lib/src/gestures/scroll_data.g.dart
  flutter/packages/measure_flutter/lib/src/gestures/scroll_direction.dart
  flutter/packages/measure_flutter/lib/src/measure_api.dart
  flutter/packages/measure_flutter/lib/src/measure_initializer.dart
  flutter/packages/measure_flutter/lib/src/measure_internal.dart
  flutter/packages/measure_flutter/lib/src/measure_widget.dart
  flutter/packages/measure_flutter/test/gestures/msr_gesture_detector_test.dart
  flutter/packages/measure_flutter/test/utils/fake_measure.dart
  ios/Sources/MeasureSDK/Swift/Events/InternalSignalCollector.swift
  ios/Sources/MeasureSDK/Swift/Gestures/GestureEvents.swift
  ios/Sources/MeasureSDK/Swift/Gestures/GestureTargetFinder.swift
Labels: feature, flutter

#2372 fix(ios): generate non nil network attributes for first event
  ios/DemoApp/SceneDelegate.swift
  ios/Sources/MeasureSDK/Swift/Attribute/AppAttributeProcessor.swift
  ios/Sources/MeasureSDK/Swift/Attribute/Attribute.swift
  ios/Sources/MeasureSDK/Swift/Attribute/AttributeProcessor.swift
  ios/Sources/MeasureSDK/Swift/Attribute/ComputeOnceAttributeProcessor.swift
  ios/Sources/MeasureSDK/Swift/Attribute/DeviceAttributeProcessor.swift
  ios/Sources/MeasureSDK/Swift/Attribute/InstallationIdAttributeProcessor.swift
  ios/Sources/MeasureSDK/Swift/Attribute/NetworkStateAttributeProcessor.swift
  ios/Sources/MeasureSDK/Swift/Attribute/UserAttributeProcessor.swift
  ios/Sources/MeasureSDK/Swift/Events/Event.swift
  ios/Sources/MeasureSDK/Swift/Events/InternalSignalCollector.swift
  ios/Sources/MeasureSDK/Swift/Events/SignalProcessor.swift
  ios/Sources/MeasureSDK/Swift/Exporter/NetworkClient.swift
  ios/Sources/MeasureSDK/Swift/Tracing/SpanProcessor.swift
  ios/Sources/MeasureSDK/Swift/Utils/SystemFileManager.swift
  ios/Tests/MeasureSDKTests/Attribute/AttributeProcessorTests.swift
  ios/Tests/MeasureSDKTests/Attribute/ComputeOnceAttributeProcessorTests.swift
  ios/Tests/MeasureSDKTests/Attribute/InstallationIdAttributeProcessorTests.swift
  ios/Tests/MeasureSDKTests/Attribute/UserAttributeProcessorTests.swift
  ios/Tests/MeasureSDKTests/Exporter/HttpClientTests.swift
  ios/Tests/MeasureSDKTests/Mocks/MockAttributeProcessor.swift
  measure-sh.podspec
Labels: bug, ios

#2375 feat(flutter): add screenshots to unhandled exceptions
  android/measure/src/main/java/sh/measure/android/Measure.kt
  android/measure/src/main/java/sh/measure/android/anr/AnrCollector.kt
  android/measure/src/main/java/sh/measure/android/events/InternalSignalCollector.kt
  android/measure/src/main/java/sh/measure/android/events/SignalProcessor.kt
  android/measure/src/main/java/sh/measure/android/exceptions/UnhandledExceptionCollector.kt
  android/measure/src/test/java/sh/measure/android/anr/AnrCollectorTest.kt
  android/measure/src/test/java/sh/measure/android/events/InternalSignalCollectorTest.kt
  android/measure/src/test/java/sh/measure/android/events/SignalProcessorTest.kt
  android/measure/src/test/java/sh/measure/android/exceptions/UnhandledExceptionCollectorTest.kt
  flutter/example/android/app/src/main/AndroidManifest.xml
  flutter/example/lib/main.dart
  flutter/packages/measure_flutter/lib/measure.dart
  flutter/packages/measure_flutter/lib/src/bug_report/attachment_processing.dart
  flutter/packages/measure_flutter/lib/src/bug_report/bug_report_collector.dart
  flutter/packages/measure_flutter/lib/src/config/config.dart
  flutter/packages/measure_flutter/lib/src/config/config_provider.dart
  flutter/packages/measure_flutter/lib/src/config/default_config.dart
  flutter/packages/measure_flutter/lib/src/config/measure_config.dart
  flutter/packages/measure_flutter/lib/src/exception/exception_collector.dart
  flutter/packages/measure_flutter/lib/src/measure_initializer.dart
  flutter/packages/measure_flutter/lib/src/measure_internal.dart
  flutter/packages/measure_flutter/lib/src/measure_widget.dart
  flutter/packages/measure_flutter/lib/src/method_channel/signal_processor.dart
  flutter/packages/measure_flutter/lib/src/screenshot/screenshot_collector.dart
  flutter/packages/measure_flutter/lib/src/screenshot/screenshot_service.dart
  flutter/packages/measure_flutter/test/bug_report/bug_report_collector_test.dart
  flutter/packages/measure_flutter/test/exception/exception_collector_test.dart
  flutter/packages/measure_flutter/test/utils/fake_config_provider.dart
  flutter/packages/measure_flutter/test/utils/fake_screenshot_collector.dart
  flutter/packages/measure_flutter/test/utils/test_png.dart
  self-host/session-data/sh.measure.android.flutter/0.0.1/2/build.toml
  self-host/session-data/sh.measure.android.flutter/0.0.1/b56be0d5-ea7b-4456-b919-fb6e9b3ba02f.json
  self-host/session-data/sh.measure.android.flutter/0.0.1/blobs/56aa1206-946e-4c9d-a100-da06ba0ff433
  self-host/session-data/sh.measure.android.flutter/0.0.1/f520d61d-b7f3-461e-b49d-79472a1e059c.json
Labels: feature, flutter

#2381 fix(ios): convert float to int safely
  ios/Sources/MeasureSDK/Swift/LayoutInspector/BaseSvgGenerator.swift
Labels: bug, ios

#2383 Use time provider
  flutter/.dart_tool/package_config.json
  flutter/packages/measure_dio/lib/src/msr_interceptor.dart
  flutter/packages/measure_dio/test/fake_measure.dart
  flutter/packages/measure_flutter/lib/measure.dart
  flutter/packages/measure_flutter/lib/src/bug_report/bug_report_collector.dart
  flutter/packages/measure_flutter/lib/src/events/custom_event_collector.dart
  flutter/packages/measure_flutter/lib/src/exception/exception_collector.dart
  flutter/packages/measure_flutter/lib/src/gestures/gesture_collector.dart
  flutter/packages/measure_flutter/lib/src/http/http_collector.dart
  flutter/packages/measure_flutter/lib/src/http/http_data.dart
  flutter/packages/measure_flutter/lib/src/measure_api.dart
  flutter/packages/measure_flutter/lib/src/measure_initializer.dart
  flutter/packages/measure_flutter/lib/src/measure_internal.dart
  flutter/packages/measure_flutter/lib/src/method_channel/signal_processor.dart
  flutter/packages/measure_flutter/lib/src/navigation/navigation_collector.dart
  flutter/packages/measure_flutter/test/bug_report/bug_report_collector_test.dart
  flutter/packages/measure_flutter/test/events/custom_event_collector_test.dart
  flutter/packages/measure_flutter/test/exception/exception_collector_test.dart
  flutter/packages/measure_flutter/test/method_channel/signal_processor_test.dart
  flutter/packages/measure_flutter/test/navigation/navigation_collector_test.dart
  flutter/packages/measure_flutter/test/utils/fake_measure.dart
  flutter/packages/measure_flutter/test/utils/fake_signal_processor.dart
Labels: chore, flutter

#2388 chore(android): hide config serialization from public api
  android/measure/api/measure.api
  android/measure/src/main/java/sh/measure/android/config/MeasureConfig.kt
Labels: android

#2391 refactor(android): decouple activity ttid from launch tracking
  android/measure/src/androidTest/java/sh/measure/android/TestMeasureInitializer.kt
  android/measure/src/main/java/sh/measure/android/MeasureInitializer.kt
  android/measure/src/main/java/sh/measure/android/applaunch/AppLaunchCollector.kt
  android/measure/src/main/java/sh/measure/android/applaunch/LaunchTracker.kt
  android/measure/src/main/java/sh/measure/android/lifecycle/AppLifecycleManager.kt
  android/measure/src/main/java/sh/measure/android/lifecycle/DefaultActivityLifecycleCollector.kt
  android/measure/src/test/java/sh/measure/android/applaunch/LaunchTrackerTest.kt
  android/measure/src/test/java/sh/measure/android/lifecycle/ActivityLifecycleCollectorTest.kt
  android/sample/src/main/java/sh/measure/sample/SampleApp.kt
Labels: refactor, flutter

#2394 chore(flutter): use correct import for measure_flutter
  flutter/example/lib/src/dio_interceptor.dart
Labels: flutter

#2395 chore(flutter): fix gesture events reporting
  flutter/example/ios/Podfile.lock
  flutter/packages/measure_flutter/lib/src/gestures/msr_gesture_detector.dart
  ios/Sources/MeasureSDK/Swift/Gestures/GestureCollector.swift
  ios/Sources/MeasureSDK/Swift/Gestures/GestureTargetFinder.swift
Labels: flutter

#2403 ci(flutter): fix prepare release command
  .github/workflows/android-prepare-release.yml
Labels: chore, android

#2410 chore(backend): modify production dashboard compose
  frontend/dashboard/dockerfile.prod
Labels: chore, backend

#2412 docs(backend): add smtp configuration to self host guide
  docs/hosting/smtp-email.md
Labels: docs, backend

#2405 chore(android): prepare sdk release 0.11.0
  android/gradle.properties
  docs/sdk-integration-guide.md
Labels: chore, android

#2426 chore(gradle): prepare plugin release 0.9.0
  .github/workflows/gradle-plugin-prepare-release.yml
  docs/sdk-integration-guide.md
Labels: android

#2428 chore(flutter): prepare measure_flutter-v0.1.0
  flutter/example/android/app/build.gradle
  flutter/packages/measure_flutter/CHANGELOG.md
  flutter/packages/measure_flutter/android/build.gradle
  flutter/packages/measure_flutter/cliff.toml
  flutter/packages/measure_flutter/ios/measure_flutter.podspec
Labels: flutter

#2437 chore(flutter): add validations for custom events
  flutter/packages/measure_flutter/lib/src/config/config.dart
  flutter/packages/measure_flutter/lib/src/config/config_provider.dart
  flutter/packages/measure_flutter/lib/src/config/default_config.dart
  flutter/packages/measure_flutter/lib/src/config/internal_config.dart
  flutter/packages/measure_flutter/lib/src/events/custom_event_collector.dart
  flutter/packages/measure_flutter/lib/src/events/msr_attachment.dart
  flutter/packages/measure_flutter/lib/src/measure_initializer.dart
  flutter/packages/measure_flutter/test/events/custom_event_collector_test.dart
  flutter/packages/measure_flutter/test/utils/fake_config_provider.dart
Labels: chore, flutter

#2451 chore(gradle): fix tests and run them on ci
  .github/workflows/android-checks.yml
  android/measure-android-gradle/src/functionalTest/kotlin/sh/measure/MeasurePluginTest.kt
  android/measure-android-gradle/src/functionalTest/kotlin/sh/measure/fixtures/MeasurePluginFixture.kt
  android/measure-android-gradle/src/test/kotlin/sh/measure/BuildUploadTaskTest.kt
Labels: chore, android

#2454 feat(flutter): provide configurable storage limits
  android/measure/src/main/java/sh/measure/android/config/MeasureConfig.kt
  flutter/packages/measure_flutter/lib/src/config/config.dart
  flutter/packages/measure_flutter/lib/src/config/config_provider.dart
  flutter/packages/measure_flutter/lib/src/config/default_config.dart
  flutter/packages/measure_flutter/lib/src/config/measure_config.dart
  flutter/packages/measure_flutter/lib/src/config/measure_config.g.dart
  flutter/packages/measure_flutter/test/utils/fake_config_provider.dart
Labels: feature, flutter

#2455 feat(android): support 2.9.2 androidx compose navigation instrumentation
  android/measure-android-gradle/gradle.properties
  android/measure-android-gradle/src/main/kotlin/sh/measure/asm/NavigationTransformer.kt
Labels: feature, android

#2461 chore(ios): add more view controllers to be ignored
  ios/Sources/MeasureSDK/Swift/Lifecycle/LifecycleCollector.swift
Labels: chore, ios
