Repository measure-sh/measure, pull requests merged in 2025-08, with the labels that each got.

#2473 fix(android): use correct timestamp for launch metric calculation
  android/measure/src/main/java/sh/measure/android/applaunch/LaunchTracker.kt
Labels: android

#2484 docs(backend): add faq on updating environment variables
  docs/hosting/README.md
Labels: docs, backend

#2485 docs: document attribute key restrictions
  docs/features/feature-custom-events.md
  docs/features/feature-performance-tracing.md
Labels: docs

#2487 chore(android): add event logging
  android/measure/src/main/java/sh/measure/android/events/SignalProcessor.kt
Labels: chore, android

#2470 feat(ios): provide configurable storage limits
  ios/PublicApi/Measure.swiftinterface
  ios/Sources/MeasureSDK/Swift/Config/BaseConfigProvider.swift
  ios/Sources/MeasureSDK/Swift/Config/Config.swift
  ios/Sources/MeasureSDK/Swift/Config/DefaultConfig.swift
  ios/Sources/MeasureSDK/Swift/Config/InternalConfig.swift
  ios/Sources/MeasureSDK/Swift/Config/MeasureConfig.swift
  ios/Sources/MeasureSDK/Swift/CoreData/DataCleanupService.swift
  ios/Sources/MeasureSDK/Swift/CoreData/EventStore.swift
  ios/Sources/MeasureSDK/Swift/CoreData/SpanStore.swift
  ios/Sources/MeasureSDK/Swift/MeasureInitializer.swift
  ios/Tests/MeasureSDKTests/CoreData/DataCleanupServiceTests.swift
  ios/Tests/MeasureSDKTests/Mocks/MockConfigProvider.swift
  ios/Tests/MeasureSDKTests/Mocks/MockEventStore.swift
  ios/Tests/MeasureSDKTests/Mocks/MockMeasureInitializer.swift
  ios/Tests/MeasureSDKTests/Mocks/MockSpanStore.swift
Labels: feature, ios

#2503 fix(android): remove need for READ_MEDIA_IMAGES permission
  android/gradle/libs.versions.toml
  android/measure/build.gradle.kts
  android/measure/src/androidTest/java/sh/measure/android/FakeConfigProvider.kt
  android/measure/src/androidTest/java/sh/measure/android/MsrBugReportActivityRobot.kt
  android/measure/src/main/java/sh/measure/android/bugreport/BugReportCollector.kt
  android/measure/src/main/java/sh/measure/android/bugreport/MsrBugReportActivity.kt
  android/measure/src/test/java/sh/measure/android/bugreport/BugReportCollectorImplTest.kt
  android/sample/src/main/AndroidManifest.xml
  docs/features/feature-bug-report-android.md
Labels: android

#2510 feat(android): add custom attributes to trackHandledException
  android/measure/api/measure.api
  android/measure/src/main/java/sh/measure/android/Measure.kt
  android/measure/src/main/java/sh/measure/android/MeasureInternal.kt
  android/measure/src/main/java/sh/measure/android/events/UserTriggeredEventCollector.kt
  android/measure/src/test/java/sh/measure/android/events/UserTriggeredEventCollectorImplTest.kt
Labels: android

#2514 fix(android): resolve instrumentation failure with BOM dependencies
  android/measure-android-gradle/src/main/kotlin/sh/measure/DependencyUtils.kt
  android/measure-android-gradle/src/main/kotlin/sh/measure/asm/NavigationTransformer.kt
  android/measure-android-gradle/src/main/kotlin/sh/measure/asm/OkHttpTransformer.kt
  android/measure-android-gradle/src/main/kotlin/sh/measure/asm/VersionAwareVisitor.kt
Labels: bug, android

#2522 feat(flutter): add custom attributes to trackScreenView
  flutter/example/android/app/build.gradle
  flutter/example/pubspec.lock
  flutter/packages/measure_flutter/android/build.gradle
  flutter/packages/measure_flutter/example/pubspec.lock
  flutter/packages/measure_flutter/lib/measure_flutter.dart
  flutter/packages/measure_flutter/lib/src/config/config.dart
  flutter/packages/measure_flutter/lib/src/config/config_provider.dart
  flutter/packages/measure_flutter/lib/src/config/default_config.dart
  flutter/packages/measure_flutter/lib/src/config/internal_config.dart
  flutter/packages/measure_flutter/lib/src/measure_initializer.dart
  flutter/packages/measure_flutter/lib/src/measure_internal.dart
  flutter/packages/measure_flutter/lib/src/method_channel/signal_processor.dart
  flutter/packages/measure_flutter/lib/src/navigation/navigation_collector.dart
  flutter/packages/measure_flutter/test/method_channel/signal_processor_test.dart
  flutter/packages/measure_flutter/test/navigation/navigation_collector_test.dart
  flutter/packages/measure_flutter/test/utils/fake_config_provider.dart
Labels: feature, flutter

#2534 fix(ios): make MsrAttachment properties public
  ios/PublicApi/Measure.swiftinterface
  ios/Sources/MeasureSDK/Swift/Events/Attachment.swift
Labels: bug, ios

#2538 fix(ios): remove deprecated UIWebView usage
  ios/Sources/MeasureSDK/Swift/Screenshots/ScreenshotGenerator.swift
Labels: bug, ios

#2539 ci: upgrade maven publish plugin
  android/gradle/libs.versions.toml
  android/measure-android-gradle/build.gradle.kts
  android/measure/build.gradle.kts
Labels: chore, android

#2541 fix(android): discard span with empty name
  android/measure/src/main/java/sh/measure/android/tracing/SpanProcessor.kt
  android/measure/src/test/java/sh/measure/android/tracing/MsrSpanProcessorTest.kt
Labels: android

#2547 fix(gradle): prevent authorization header from getting filtered
  android/measure-android-gradle/src/main/kotlin/sh/measure/BuildUploadTask.kt
  android/measure-android-gradle/src/test/kotlin/sh/measure/BuildUploadTaskTest.kt
Labels: bug, android

#2550 Revert "fix(android): use correct timestamp for launch metric calculation (#2473)
  android/measure/src/main/java/sh/measure/android/applaunch/LaunchTracker.kt
Labels: bug, android

#2549 fix(android): take persistable permission for uris
  android/measure/src/main/java/sh/measure/android/bugreport/MsrBugReportActivity.kt
  android/measure/src/main/java/sh/measure/android/exceptions/UnhandledExceptionCollector.kt
  android/measure/src/test/java/sh/measure/android/exceptions/UnhandledExceptionCollectorTest.kt
Labels: bug, android

#2552 ci: use PAT for creating release PRs
  .github/workflows/android-prepare-release.yml
  .github/workflows/gradle-plugin-prepare-release.yml
Labels: chore, android

#2553 chore(android): prepare sdk release 0.12.0
  .github/workflows/android-checks.yml
  .github/workflows/android-prepare-release.yml
  android/CHANGELOG.md
  android/cliff.toml
  android/gradle.properties
  android/gradle/libs.versions.toml
  docs/sdk-integration-guide.md
Labels: android

#2565 chore(ios): add more view controllers to be ignored
  ios/Sources/MeasureSDK/Swift/Config/Config.swift
Labels: chore, ios

#2576 feat(android): track session start event
  android/measure/src/main/java/sh/measure/android/MeasureInternal.kt
  android/measure/src/main/java/sh/measure/android/SessionManager.kt
  android/measure/src/main/java/sh/measure/android/SessionStartData.kt
  android/measure/src/main/java/sh/measure/android/config/Config.kt
  android/measure/src/main/java/sh/measure/android/events/CustomEventCollector.kt
  android/measure/src/main/java/sh/measure/android/events/EventType.kt
  android/measure/src/main/java/sh/measure/android/events/SignalProcessor.kt
  android/measure/src/main/java/sh/measure/android/storage/EventExtensions.kt
  android/measure/src/test/java/sh/measure/android/SessionManagerTest.kt
  android/measure/src/test/java/sh/measure/android/fakes/FakeSessionManager.kt
Labels: feature, android

#2580 fix(ios): fix blank svg generation
  ios/DemoApp/Controller/ControlsViewController.swift
  ios/Sources/MeasureSDK/Swift/LayoutInspector/BaseSvgGenerator.swift
  ios/Sources/MeasureSDK/Swift/LayoutInspector/LayoutSnapshotGenerator.swift
  ios/Tests/MeasureSDKTests/Mocks/MockSvgGenerator.swift
Labels: bug, ios

#2585 chore(ios): add script to upload dsyms from xcarchive
  ios/Scripts/upload_dsym_manual.sh
  ios/Scripts/upload_dsym_xcarchive.sh
Labels: chore, ios

#2593 fix(ios): add safe uiapplication swizzling
  ios/Sources/MeasureSDK/Swift/Utils/Extensions/UIApplication+Extension.swift
Labels: bug, ios

#2597 fix(ios): update process start time logic
  docs/features/feature-app-launch-metrics.md
  ios/Sources/MeasureSDK/Swift/AppLaunch/LaunchTracker.swift
  ios/Sources/MeasureSDK/Swift/Utils/SysCtl.swift
Labels: bug, ios
