Repository measure-sh/measure, pull requests merged in 2025-05, with the labels that each got.

#2107 chore(flutter): rename sample app identifiers
  flutter/measure_flutter/example/android/app/build.gradle
  flutter/measure_flutter/example/android/app/src/main/AndroidManifest.xml
  flutter/measure_flutter/example/android/app/src/main/kotlin/sh/measure/android/flutter/MainActivity.kt
  flutter/measure_flutter/example/android/app/src/main/kotlin/sh/measure/android/flutter/SampleApp.kt
  flutter/measure_flutter/example/ios/Runner.xcodeproj/project.pbxproj
Labels: flutter

#2112 fix(backend): auto rotate compose logs
  self-host/compose.prod.yml
Labels: bug, backend

#2131 Update github-oauth.md
  docs/hosting/github-oauth.md
Labels: docs, backend

#2135 Update and format SDK API documentation
  docs/api/sdk/README.md
Labels: docs, backend

#2139 docs(backend): update self host guide
  docs/hosting/README.md
Labels: docs, backend

#2137 docs: remove defunct command from contribution guide
  docs/CONTRIBUTING.md
Labels: docs

#2141 docs: add a faqs page in docs
  docs/README.md
  docs/faqs.md
Labels: docs

#2144 docs: format sdk api docs
  docs/api/sdk/README.md
Labels: docs, backend

#2143 chore(flutter): configure release and debug builds
  flutter/measure_flutter/example/android/app/build.gradle
  flutter/measure_flutter/example/ios/Flutter/AppFrameworkInfo.plist
  flutter/measure_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  flutter/measure_flutter/example/pubspec.yaml
  flutter/measure_flutter/pubspec.yaml
Labels: flutter

#2146 docs(backend): add faq for nginx conf in self host guide
  docs/hosting/README.md
Labels: docs, backend

#2152 chore(flutter): improve initialization and error tracking
  flutter/measure_flutter/example/lib/main.dart
  flutter/measure_flutter/lib/measure.dart
  flutter/measure_flutter/lib/src/exception/exception_collector.dart
  flutter/measure_flutter/lib/src/exception/exception_factory.dart
  flutter/measure_flutter/lib/src/measure_interface.dart
  flutter/measure_flutter/lib/src/measure_internal.dart
  flutter/measure_flutter/test/exception/exception_collector_test.dart
  flutter/measure_flutter/test/measure_test.dart
Labels: flutter

#2132 Update README.md
  docs/ios/README.md
Labels: docs, ios

#2155 docs(android): update readme
  docs/android/README.md
Labels: docs

#2169 docs(backend): add low memory note for podman on macos
  docs/hosting/README.md
Labels: docs, backend

#2229 chore(ios): prepare sdk release 0.3.0
  docs/ios/README.md
  ios/CHANGELOG.md
  ios/Sources/MeasureSDK/Swift/FrameworkInfo.swift
  measure-sh.podspec
Labels: chore, ios

#2231 fix(backend): remove unwanted warning on sessionator record
  self-host/sessionator/go.mod
  self-host/sessionator/go.sum
  self-host/sessionator/seed/applesystemssymbols.go
Labels: bug, backend

#2240 fix(backend): validate os specific version ordering
  backend/api/filter/appfilter.go
  backend/api/filter/appfilter_test.go
  backend/api/go.mod
  backend/api/go.sum
  backend/api/measure/app.go
  backend/api/opsys/opsys.go
  self-host/sessionator/app/app.go
  self-host/sessionator/app/scan.go
  self-host/sessionator/go.mod
  self-host/sessionator/go.sum
Labels: bug, backend

#2246 fix(backend): members were not ordered in a predictable manner
  backend/api/measure/team.go
  docs/api/dashboard/README.md
Labels: bug, backend

#2254 chore(backend): remove unused ios session data
  self-host/session-data/sh.measure.DemoApp/1.0.0/1df4b357-fff6-4a7f-b3e1-dd59590e2f13.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/1f27d0b4-445f-4e1d-ba04-298c71c4ef75.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/2964af0e-2583-4468-9fb9-42260df84584.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/45452d57-6766-4832-a0ad-499f29d0917c.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/7a912a5f-9c83-40fd-b120-670321ecd3fa.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/7b21ee21-a307-4d75-820e-4d7afbd824de.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/7e474754-e855-4c10-9ee7-bdbe53423c69.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/7eedd3a1-3290-4a71-9712-da47b8b84815.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/8676b3f4-8e2b-4d63-8b64-bb05f9fc95b9.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/88d9251a-5652-4690-bd64-299d21102aec.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/8b786fe8-72f1-42ef-8d19-0c791b7d3114.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/996f82d0-5b04-4b94-aac3-7b75767f5dad.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/a2b4e951-91d3-48d6-9584-42bccccc0db1.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/a51ce461-7395-4a9e-a2fd-b61eae16518a.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/blobs/ebb978a8-3c89-425e-b4d6-07182d73a6e3
  self-host/session-data/sh.measure.DemoApp/1.0.0/c7c64212-0eff-4162-83f8-3c087585da32.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/d517c1ed-c051-4f55-84d6-6dfb73569f49.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/e383656b-6286-4903-9db6-9e2af78923c7.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/f3e68d1d-b681-4d45-9c3c-492e7d58180e.json
Labels: chore, backend

#2255 chore(backend): improve workflow security
  .github/workflows/api.yml
  .github/workflows/cleanup.yml
  .github/workflows/dashboard.yml
  .github/workflows/lint.yml
  .github/workflows/migrator.yml
Labels: chore, backend
