Repository measure-sh/measure, pull requests merged in 2025-04, with the labels that each got.

#2004 ci: automate android releases
  .commitlintrc.js
  .github/workflows/android-checks.yml
  .github/workflows/android-prepare-next.yml
  .github/workflows/android-prepare-release.yml
  .github/workflows/android-release.yml
  .github/workflows/android.yml
  .github/workflows/gradle-plugin-prepare-next.yml
  .github/workflows/gradle-plugin-prepare-release.yml
  .github/workflows/gradle-plugin-release.yml
  android/RELEASE.md
  cliff.toml
Labels: chore

#2017 chore(ios): remove swift-lint check on ci
  .github/workflows/ios.yml
Labels: chore, ios

#1959 chore(ios): update json encoding logic
  ios/Sources/MeasureSDK/Swift/CoreData/Entities/EventEntity.swift
  ios/Sources/MeasureSDK/Swift/Events/Event.swift
  ios/Sources/MeasureSDK/Swift/Exception/StackFrame.swift
  ios/Sources/MeasureSDK/Swift/Exporter/EventSerializer.swift
  ios/Sources/MeasureSDK/Swift/Exporter/HttpClient.swift
  ios/Sources/MeasureSDK/Swift/Exporter/HttpModels.swift
  ios/Tests/MeasureSDKTests/CrashReporter/CrashReports/abort.json
  ios/Tests/MeasureSDKTests/CrashReporter/CrashReports/backgroundThreadException.json
  ios/Tests/MeasureSDKTests/Event/EventProcessorTests.swift
  ios/Tests/MeasureSDKTests/Exporter/EventSerializerTests.swift
  ios/Tests/MeasureSDKTests/Exporter/HttpClientTests.swift
Labels: chore, ios

#2009 chore(android): add db migration tests
  android/measure/src/test/java/sh/measure/android/storage/DbMigrationsTest.kt
  android/measure/src/test/java/sh/measure/android/storage/TestDatabaseHelper.kt
  android/measure/src/test/resources/schemas/schema_v1.sql
  android/measure/src/test/resources/schemas/schema_v2.sql
  android/measure/src/test/resources/schemas/schema_v3.sql
Labels: chore, android

#2020 docs(android): behaviour of SDK when stopped
  docs/android/README.md
Labels: docs, android

#2007 feat(ios): expose APIs to allow start/stop of SDK
  docs/ios/README.md
  docs/ios/configuration-options.md
  ios/DemoApp/AppDelegate.swift
  ios/DemoApp/Controller/ControlsViewController.swift
  ios/DemoApp/Controller/ObjcDetailViewController.m
  ios/MeasureSDK.xcodeproj/project.pbxproj
  ios/PublicApi/Measure.swiftinterface
  ios/PublicApi/MeasureSDK.swiftinterface
  ios/Sources/MeasureSDK/Swift/Config/BaseConfigProvider.swift
  ios/Sources/MeasureSDK/Swift/Config/Config.swift
  ios/Sources/MeasureSDK/Swift/Config/DefaultConfig.swift
  ios/Sources/MeasureSDK/Swift/Config/MeasureConfig.swift
  ios/Sources/MeasureSDK/Swift/CrashReporter/CrashReportingManager.swift
  ios/Sources/MeasureSDK/Swift/Events/CustomEventCollector.swift
  ios/Sources/MeasureSDK/Swift/Events/UserTriggeredEventCollector.swift
  ios/Sources/MeasureSDK/Swift/Exporter/PeriodicEventExporter.swift
  ios/Sources/MeasureSDK/Swift/Gestures/GestureCollector.swift
  ios/Sources/MeasureSDK/Swift/Http/HttpEventCollector.swift
  ios/Sources/MeasureSDK/Swift/Lifecycle/LifecycleCollector.swift
  ios/Sources/MeasureSDK/Swift/Measure.swift
  ios/Sources/MeasureSDK/Swift/MeasureInitializer.swift
  ios/Sources/MeasureSDK/Swift/MeasureInternal.swift
  ios/Sources/MeasureSDK/Swift/NetworkChange/NetworkChangeCollector.swift
  ios/Sources/MeasureSDK/Swift/NetworkChange/NetworkChangeDetector.swift
  ios/Sources/MeasureSDK/Swift/Performance/CpuUsageCollector.swift
  ios/Sources/MeasureSDK/Swift/Performance/MemoryUsageCollector.swift
  ios/Sources/MeasureSDK/Swift/Utils/AtomicBool.swift
  ios/TestApp/AppDelegate.swift
  ios/TestApp/MockMeasureInitializer.swift
  ios/Tests/MeasureSDKTests/CrashReporter/CrashReportingManagerTests.swift
  ios/Tests/MeasureSDKTests/Event/CustomEventCollectorTests.swift
  ios/Tests/MeasureSDKTests/Exporter/PeriodicEventExporterTests.swift
  ios/Tests/MeasureSDKTests/MeasureInternalTests.swift
  ios/Tests/MeasureSDKTests/Mocks/MockConfigProvider.swift
  ios/Tests/MeasureSDKTests/Mocks/MockMeasureInitializer.swift
  ios/Tests/MeasureSDKTests/SessionManagerTests.swift
  ios/Tests/MeasureUITests/GestureCollectorTests.swift
Labels: feature, ios

#2022 chore(android): improve logs
  android/measure/src/androidTest/java/sh/measure/android/TestMeasureInitializer.kt
  android/measure/src/main/java/sh/measure/android/Measure.kt
  android/measure/src/main/java/sh/measure/android/MeasureInitializer.kt
  android/measure/src/main/java/sh/measure/android/MeasureInternal.kt
  android/measure/src/main/java/sh/measure/android/NativeBridge.kt
  android/measure/src/main/java/sh/measure/android/PowerStateProvider.kt
  android/measure/src/main/java/sh/measure/android/SessionManager.kt
  android/measure/src/main/java/sh/measure/android/anr/AnrCollector.kt
  android/measure/src/main/java/sh/measure/android/appexit/AppExitCollector.kt
  android/measure/src/main/java/sh/measure/android/applaunch/AppLaunchCollector.kt
  android/measure/src/main/java/sh/measure/android/applaunch/LaunchTracker.kt
  android/measure/src/main/java/sh/measure/android/attributes/DeviceAttributeProcessor.kt
  android/measure/src/main/java/sh/measure/android/attributes/UserAttributeProcessor.kt
  android/measure/src/main/java/sh/measure/android/bugreport/BugReportCollector.kt
  android/measure/src/main/java/sh/measure/android/events/CustomEventCollector.kt
  android/measure/src/main/java/sh/measure/android/events/SignalProcessor.kt
  android/measure/src/main/java/sh/measure/android/events/UserTriggeredEventCollector.kt
  android/measure/src/main/java/sh/measure/android/exceptions/UnhandledExceptionCollector.kt
  android/measure/src/main/java/sh/measure/android/exporter/BatchCreator.kt
  android/measure/src/main/java/sh/measure/android/exporter/ExceptionExporter.kt
  android/measure/src/main/java/sh/measure/android/exporter/Exporter.kt
  android/measure/src/main/java/sh/measure/android/exporter/Heartbeat.kt
  android/measure/src/main/java/sh/measure/android/exporter/HttpUrlConnectionClient.kt
  android/measure/src/main/java/sh/measure/android/exporter/MultipartDataFactory.kt
  android/measure/src/main/java/sh/measure/android/exporter/NetworkClient.kt
  android/measure/src/main/java/sh/measure/android/exporter/PeriodicExporter.kt
  android/measure/src/main/java/sh/measure/android/gestures/GestureCollector.kt
  android/measure/src/main/java/sh/measure/android/logger/AndroidLogger.kt
  android/measure/src/main/java/sh/measure/android/logger/Logger.kt
  android/measure/src/main/java/sh/measure/android/networkchange/NetworkChangesCollector.kt
  android/measure/src/main/java/sh/measure/android/okhttp/OkHttpEventCollector.kt
  android/measure/src/main/java/sh/measure/android/performance/CpuUsageCollector.kt
  android/measure/src/main/java/sh/measure/android/performance/MemoryReader.kt
  android/measure/src/main/java/sh/measure/android/performance/MemoryUsageCollector.kt
  android/measure/src/main/java/sh/measure/android/screenshot/ScreenshotCollector.kt
  android/measure/src/main/java/sh/measure/android/storage/DataCleanupService.kt
  android/measure/src/main/java/sh/measure/android/storage/Database.kt
  android/measure/src/main/java/sh/measure/android/storage/DbMigrations.kt
  android/measure/src/main/java/sh/measure/android/storage/FileStorage.kt
  android/measure/src/main/java/sh/measure/android/storage/PeriodicSignalStoreScheduler.kt
  android/measure/src/main/java/sh/measure/android/storage/PrefsStorage.kt
  android/measure/src/main/java/sh/measure/android/storage/SignalStore.kt
  android/measure/src/main/java/sh/measure/android/tracing/MsrSpan.kt
  android/measure/src/main/java/sh/measure/android/tracing/SpanProcessor.kt
  android/measure/src/main/java/sh/measure/android/utils/AttachmentHelper.kt
  android/measure/src/main/java/sh/measure/android/utils/BitmapHelper.kt
  android/measure/src/main/java/sh/measure/android/utils/ManifestReaderImpl.kt
  android/measure/src/main/jni/anr_handler.c
  android/measure/src/test/java/sh/measure/android/attributes/UserAttributeProcessorTest.kt
  android/measure/src/test/java/sh/measure/android/events/UserTriggeredEventCollectorImplTest.kt
  android/measure/src/test/java/sh/measure/android/exporter/NetworkClientTest.kt
  android/measure/src/test/java/sh/measure/android/storage/PrefsStorageTest.kt
Labels: chore, android

#2027 chore(ios): update swiftlint
  ios/.swiftlint.yml
  ios/Sources/MeasureSDK/Swift/Config/MeasureConfig.swift
  ios/Sources/MeasureSDK/Swift/CoreData/CoreDataEntities/BatchOb+CoreDataProperties.swift
  ios/Sources/MeasureSDK/Swift/CoreData/CoreDataEntities/EventOb+CoreDataProperties.swift
  ios/Sources/MeasureSDK/Swift/CoreData/CoreDataEntities/SessionOb+CoreDataProperties.swift
  ios/Sources/MeasureSDK/Swift/CoreData/EventStore.swift
  ios/Sources/MeasureSDK/Swift/CrashReporter/CrashDataFormatter.swift
  ios/Sources/MeasureSDK/Swift/Exporter/EventSerializer.swift
  ios/Sources/MeasureSDK/Swift/Http/URLSessionTaskInterceptor.swift
  ios/Sources/MeasureSDK/Swift/MeasureInternal.swift
  ios/Sources/MeasureSDK/Swift/SessionManager.swift
  ios/Sources/MeasureSDK/Swift/Utils/AppVersionInfo.swift
  ios/Sources/MeasureSDK/Swift/Utils/SysCtl.swift
  ios/Tests/MeasureSDKTests/CrashReporter/CrashDataFormatterTests.swift
  ios/Tests/MeasureSDKTests/Exporter/EventSerializerTests.swift
  ios/Tests/MeasureSDKTests/Exporter/HttpClientTests.swift
  ios/Tests/MeasureSDKTests/Http/HttpEventValidatorTests.swift
  ios/Tests/MeasureSDKTests/Mocks/MockAppVersionInfo.swift
  ios/Tests/MeasureSDKTests/Mocks/MockMeasureInitializer.swift
  ios/Tests/MeasureSDKTests/Mocks/MockUserDefaultStorage.swift
Labels: chore, ios

#2029 test(android): fix flaky exception tests
  android/measure/src/test/java/sh/measure/android/events/UserTriggeredEventCollectorImplTest.kt
  android/measure/src/test/java/sh/measure/android/exceptions/UnhandledExceptionCollectorTest.kt
Labels: chore, android

#2030 docs(android): update span attributes section
  docs/api/sdk/README.md
Labels: docs

#2028 chore(gradle): add validation for API_KEY
  android/measure-android-gradle/src/main/kotlin/sh/measure/ExtractManifestDataTask.kt
  android/measure-android-gradle/src/main/kotlin/sh/measure/MeasurePlugin.kt
  android/measure-android-gradle/src/test/kotlin/sh/measure/ExtractManifestDataTaskTest.kt
Labels: android

#2036 fix(ios): start the sdk when autostart is enabled
  ios/DemoApp/AppDelegate.swift
  ios/Sources/MeasureSDK/Swift/MeasureInternal.swift
  ios/Tests/MeasureSDKTests/CoreData/SessionStoreTests.swift
  ios/Tests/MeasureSDKTests/SessionManagerTests.swift
Labels: ios

#2043 ci(flutter): update android sdk version
  flutter/measure_flutter/android/build.gradle
Labels: flutter

#2042 chore(flutter): fix ios integration
  flutter/measure_flutter/example/ios/Podfile
  flutter/measure_flutter/example/ios/Podfile.lock
  flutter/measure_flutter/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  flutter/measure_flutter/example/ios/Runner/AppDelegate.swift
  flutter/measure_flutter/example/pubspec.lock
  flutter/measure_flutter/ios/Classes/AttributeConvertor.swift
  flutter/measure_flutter/ios/Classes/MeasurePlugin.swift
  flutter/measure_flutter/ios/measure_flutter.podspec
  ios/MeasureSDK.xcodeproj/project.pbxproj
Labels: flutter

#2045 docs: update sdk api readme
  docs/api/sdk/README.md
Labels: docs

#2046 chore(android): convert event type to enum
  android/measure/src/androidTest/java/sh/measure/android/EventsTest.kt
  android/measure/src/androidTest/java/sh/measure/android/FakeConfigProvider.kt
  android/measure/src/main/java/sh/measure/android/Measure.kt
  android/measure/src/main/java/sh/measure/android/config/Config.kt
  android/measure/src/main/java/sh/measure/android/config/ConfigProvider.kt
  android/measure/src/main/java/sh/measure/android/config/InternalConfig.kt
  android/measure/src/main/java/sh/measure/android/events/DefaultEventTransformer.kt
  android/measure/src/main/java/sh/measure/android/events/Event.kt
  android/measure/src/main/java/sh/measure/android/events/EventType.kt
  android/measure/src/main/java/sh/measure/android/events/SignalProcessor.kt
  android/measure/src/main/java/sh/measure/android/exporter/MultipartDataFactory.kt
  android/measure/src/main/java/sh/measure/android/exporter/NetworkPackets.kt
  android/measure/src/main/java/sh/measure/android/storage/Database.kt
  android/measure/src/main/java/sh/measure/android/storage/DbConstants.kt
  android/measure/src/main/java/sh/measure/android/storage/Entities.kt
  android/measure/src/main/java/sh/measure/android/storage/EventExtensions.kt
  android/measure/src/test/java/sh/measure/android/anr/AnrCollectorTest.kt
  android/measure/src/test/java/sh/measure/android/exporter/ExporterTest.kt
  android/measure/src/test/java/sh/measure/android/exporter/MultipartDataFactoryTest.kt
  android/measure/src/test/java/sh/measure/android/fakes/FakeConfigProvider.kt
  android/measure/src/test/java/sh/measure/android/fakes/TestData.kt
  android/measure/src/test/java/sh/measure/android/okhttp/OkHttpEventCollectorTest.kt
  android/measure/src/test/java/sh/measure/android/storage/DatabaseTest.kt
  android/measure/src/test/java/sh/measure/android/storage/EventEntityTest.kt
  android/measure/src/test/java/sh/measure/android/storage/EventExtensionsKtTest.kt
Labels: chore, android

#2055 fix(backend): add podman support
  docs/hosting/README.md
  self-host/compose.prod.yml
  self-host/compose.yml
  self-host/install.sh
Labels: chore, backend

#2062 docs(android): improve firebase comparison
  docs/android/README.md
  docs/android/images/firebaseComparisonBarChart.png
Labels: docs

#2081 chore(android): upload flutter symbols using gradle plugin
  .github/workflows/flutter.yml
  android/measure-android-gradle/gradle.properties
  android/measure-android-gradle/src/main/kotlin/sh/measure/BuildUploadTask.kt
  android/measure-android-gradle/src/main/kotlin/sh/measure/MeasureHttpClient.kt
  android/measure-android-gradle/src/main/kotlin/sh/measure/MeasurePlugin.kt
  android/measure-android-gradle/src/test/kotlin/sh/measure/BuildUploadTaskTest.kt
  flutter/measure_flutter/android/build.gradle
  flutter/measure_flutter/example/android/.gitignore
  flutter/measure_flutter/example/android/app/build.gradle
  flutter/measure_flutter/example/android/local.properties
  flutter/measure_flutter/pubspec.yaml
Labels: flutter

#2083 feat(ios): track view controller ttid
  docs/ios/README.md
  docs/ios/configuration-options.md
  docs/ios/features/feature_screen_load_time.md
  ios/DemoApp/AppDelegate.swift
  ios/DemoApp/Controller/ViewController.swift
  ios/MeasureSDK.xcodeproj/project.pbxproj
  ios/PublicApi/Measure.swiftinterface
  ios/Sources/MeasureSDK/Swift/Config/BaseConfigProvider.swift
  ios/Sources/MeasureSDK/Swift/Config/Config.swift
  ios/Sources/MeasureSDK/Swift/Config/DefaultConfig.swift
  ios/Sources/MeasureSDK/Swift/Config/MeasureConfig.swift
  ios/Sources/MeasureSDK/Swift/CoreData/CoreDataEntities/SpanOb+CoreDataProperties.swift
  ios/Sources/MeasureSDK/Swift/Exporter/BatchCreator.swift
  ios/Sources/MeasureSDK/Swift/Exporter/Exporter.swift
  ios/Sources/MeasureSDK/Swift/Lifecycle/LifecycleCollector.swift
  ios/Sources/MeasureSDK/Swift/MeasureInitializer.swift
  ios/Sources/MeasureSDK/Swift/Tracing/SpanConstants.swift
  ios/Sources/MeasureSDK/Swift/Utils/Extensions/UIViewController+Extension.swift
  ios/Tests/MeasureSDKTests/Lifecycle/LifecycleCollectorTests.swift
  ios/Tests/MeasureSDKTests/Mocks/MockConfigProvider.swift
  ios/Tests/MeasureSDKTests/Mocks/MockMeasureInitializer.swift
  ios/Tests/MeasureSDKTests/Mocks/MockTracer.swift
  ios/Tests/MeasureSDKTests/Tracing/MsrSpanBuilderTests.swift
  self-host/session-data/sh.measure.DemoApp/1.0.0/1df4b357-fff6-4a7f-b3e1-dd59590e2f13.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/1f27d0b4-445f-4e1d-ba04-298c71c4ef75.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/2964af0e-2583-4468-9fb9-42260df84584.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/45452d57-6766-4832-a0ad-499f29d0917c.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/7a912a5f-9c83-40fd-b120-670321ecd3fa.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/7b21ee21-a307-4d75-820e-4d7afbd824de.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/7e474754-e855-4c10-9ee7-bdbe53423c69.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/7eedd3a1-3290-4a71-9712-da47b8b84815.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/8676b3f4-8e2b-4d63-8b64-bb05f9fc95b9.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/88d9251a-5652-4690-bd64-299d21102aec.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/8b786fe8-72f1-42ef-8d19-0c791b7d3114.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/996f82d0-5b04-4b94-aac3-7b75767f5dad.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/a2b4e951-91d3-48d6-9584-42bccccc0db1.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/a51ce461-7395-4a9e-a2fd-b61eae16518a.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/blobs/ebb978a8-3c89-425e-b4d6-07182d73a6e3
  self-host/session-data/sh.measure.DemoApp/1.0.0/c7c64212-0eff-4162-83f8-3c087585da32.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/d517c1ed-c051-4f55-84d6-6dfb73569f49.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/e383656b-6286-4903-9db6-9e2af78923c7.json
  self-host/session-data/sh.measure.DemoApp/1.0.0/f3e68d1d-b681-4d45-9c3c-492e7d58180e.json
Labels: feature, ios

#2092 fix(ios): update cpu frequency generation logic
  ios/Sources/MeasureSDK/Swift/Utils/SysCtl.swift
Labels: bug, ios

#2098 fix(ios): update cgfloat to int conversion logic
  ios/MeasureSDK.xcodeproj/project.pbxproj
  ios/Sources/MeasureSDK/Swift/LayoutInspector/BaseSvgGenerator.swift
  ios/Sources/MeasureSDK/Swift/Utils/Extensions/CGFloat+Extension.swift
Labels: bug, ios

#2101 docs(backend): add banner in contributing
  docs/CONTRIBUTING.md
Labels: docs, backend
