Repository measure-sh/measure, pull requests merged in 2025-06, with the labels that each got.

#2295 Add iOS performance documentation
  docs/ios/README.md
  ios/MeasureSDK.xcodeproj/project.pbxproj
  ios/PublicApi/Measure.swiftinterface
  ios/Sources/MeasureSDK/Swift/Attribute/NetworkStateAttributeProcessor.swift
  ios/Sources/MeasureSDK/Swift/BugReport/BugReportCollector.swift
  ios/Sources/MeasureSDK/Swift/BugReport/BugReportManager.swift
  ios/Sources/MeasureSDK/Swift/BugReport/FloatingButtonViewController.swift
  ios/Sources/MeasureSDK/Swift/Events/SignalProcessor.swift
  ios/Sources/MeasureSDK/Swift/Gestures/GestureCollector.swift
  ios/Sources/MeasureSDK/Swift/LayoutInspector/BaseSvgGenerator.swift
  ios/Sources/MeasureSDK/Swift/LayoutInspector/LayoutSnapshotGenerator.swift
  ios/Sources/MeasureSDK/Swift/Measure.swift
  ios/Sources/MeasureSDK/Swift/MeasureInternal.swift
  ios/Sources/MeasureSDK/Swift/Screenshots/ScreenshotGenerator.swift
  ios/Sources/MeasureSDK/Swift/Tracing/SignPost.swift
  ios/Sources/MeasureSDK/Swift/Tracing/SpanProcessor.swift
  ios/Tests/MeasureSDKTests/CoreData/BatchStoreTests.swift
  ios/Tests/MeasureSDKTests/Gestures/GestureTargetFinderTests.swift
  ios/Tests/MeasureSDKTests/LayoutInspector/LayoutSnapshotGeneratorTests.swift
  ios/Tests/MeasureSDKTests/Mocks/MockScreenshotGenerator.swift
  ios/Tests/MeasureSDKTests/Mocks/MockSvgGenerator.swift
  ios/Tests/MeasureSDKTests/Performance/CpuUsageCalculatorTests.swift
  ios/Tests/MeasureSDKTests/Performance/MemoryUsageCalculatorTests.swift
  ios/Tests/MeasureSDKTests/ScreenshotGenerator/ScreenshotGeneratorTests.swift
  ios/Tests/MeasureSDKTests/Utils/SwizzlingUtilityTests.swift
Labels: chore, ios

#2315 fix(ios): make session id API public
  ios/PublicApi/Measure.swiftinterface
  ios/Sources/MeasureSDK/Swift/Measure.swift
Labels: bug, ios

#2322 fix(ios): remove hardcoded values from upload dysm script
  ios/Scripts/upload_dsym_build_phases.sh
Labels: bug, ios

#2319 refactor(ios): update public api interface
  docs/features/configuration-options.md
  docs/features/feature-bug-report-ios.md
  docs/features/feature-custom-events.md
  docs/features/feature-identify-users.md
  docs/features/feature-manually-start-stop-sdk.md
  docs/features/feature-navigation-lifecycle-tracking.md
  docs/features/feature-performance-tracing.md
  docs/features/feature-session-monitoring.md
  docs/sdk-integration-guide.md
  flutter/example/ios/Runner/AppDelegate.swift
  flutter/packages/measure_flutter/ios/Classes/MeasurePlugin.swift
  ios/DemoApp/AppDelegate.swift
  ios/DemoApp/Controller/ControlsViewController.swift
  ios/DemoApp/Controller/ObjcDetailViewController.m
  ios/DemoApp/Controller/ViewController.swift
  ios/MeasureDemo/MeasureDemo/AppDelegate/AppDelegate.swift
  ios/PublicApi/Measure.swiftinterface
  ios/Sources/MeasureSDK/Swift/BugReport/BugReportingViewController.swift
  ios/Sources/MeasureSDK/Swift/Config/MeasureConfig.swift
  ios/Sources/MeasureSDK/Swift/Exception/BinaryImage.swift
  ios/Sources/MeasureSDK/Swift/Exception/Exception.swift
  ios/Sources/MeasureSDK/Swift/LayoutInspector/BaseSvgGenerator.swift
  ios/Sources/MeasureSDK/Swift/LayoutInspector/LayoutSnapshotGenerator.swift
  ios/Sources/MeasureSDK/Swift/Measure.swift
  ios/Sources/MeasureSDK/Swift/Tracing/Span.swift
  ios/SwiftUIDemo/SwiftUIDemoApp.swift
  ios/TestApp/AppDelegate.swift
  ios/Tests/MeasureSDKTests/Config/ClientInfoTests.swift
  ios/Tests/MeasureSDKTests/CoreData/SessionStoreTests.swift
  ios/Tests/MeasureSDKTests/Event/InternalSignalCollectorTests.swift
  ios/Tests/MeasureSDKTests/Mocks/MockMotionManager.swift
  ios/Tests/MeasureSDKTests/Mocks/MockScreenshotGenerator.swift
Labels: refactor, ios

#2333 chore(ios): prepare sdk release 0.4.0
  docs/sdk-integration-guide.md
  ios/CHANGELOG.md
  ios/Sources/MeasureSDK/Swift/FrameworkInfo.swift
  measure-sh.podspec
Labels: chore, ios

#2320 feat(flutter): manually start or stop the SDK
  android/sample/src/main/java/sh/measure/sample/SampleApp.kt
  flutter/example/lib/main.dart
  flutter/example/lib/src/screen_main.dart
  flutter/packages/measure_dio/test/fake_measure.dart
  flutter/packages/measure_flutter/android/src/main/kotlin/sh/measure/flutter/Constants.kt
  flutter/packages/measure_flutter/android/src/main/kotlin/sh/measure/flutter/MeasurePlugin.kt
  flutter/packages/measure_flutter/ios/Classes/Constants.swift
  flutter/packages/measure_flutter/ios/Classes/MeasurePlugin.swift
  flutter/packages/measure_flutter/lib/measure.dart
  flutter/packages/measure_flutter/lib/src/config/config.dart
  flutter/packages/measure_flutter/lib/src/config/config_provider.dart
  flutter/packages/measure_flutter/lib/src/config/default_config.dart
  flutter/packages/measure_flutter/lib/src/config/measure_config.dart
  flutter/packages/measure_flutter/lib/src/config/measure_config.g.dart
  flutter/packages/measure_flutter/lib/src/events/custom_event_collector.dart
  flutter/packages/measure_flutter/lib/src/exception/exception_collector.dart
  flutter/packages/measure_flutter/lib/src/http/http_collector.dart
  flutter/packages/measure_flutter/lib/src/measure_api.dart
  flutter/packages/measure_flutter/lib/src/measure_initializer.dart
  flutter/packages/measure_flutter/lib/src/measure_internal.dart
  flutter/packages/measure_flutter/lib/src/method_channel/method_constants.dart
  flutter/packages/measure_flutter/lib/src/method_channel/msr_method_channel.dart
  flutter/packages/measure_flutter/lib/src/method_channel/msr_platform_interface.dart
  flutter/packages/measure_flutter/lib/src/navigation/navigation_collector.dart
  flutter/packages/measure_flutter/test/events/custom_event_collector_test.dart
  flutter/packages/measure_flutter/test/exception/exception_collector_test.dart
  flutter/packages/measure_flutter/test/measure_test.dart
  flutter/packages/measure_flutter/test/navigation/navigation_collector_test.dart
  flutter/packages/measure_flutter/test/utils/fake_measure.dart
  flutter/packages/measure_flutter/test/utils/test_method_channel.dart
Labels: feature, flutter

#2337 feat(flutter): expose apis to set and clear user id
  flutter/example/ios/Podfile.lock
  flutter/example/lib/main.dart
  flutter/example/lib/src/screen_main.dart
  flutter/packages/measure_dio/test/fake_measure.dart
  flutter/packages/measure_flutter/android/src/main/kotlin/sh/measure/flutter/Constants.kt
  flutter/packages/measure_flutter/android/src/main/kotlin/sh/measure/flutter/MeasurePlugin.kt
  flutter/packages/measure_flutter/ios/Classes/Constants.swift
  flutter/packages/measure_flutter/ios/Classes/MeasurePlugin.swift
  flutter/packages/measure_flutter/lib/measure.dart
  flutter/packages/measure_flutter/lib/src/measure_api.dart
  flutter/packages/measure_flutter/lib/src/measure_internal.dart
  flutter/packages/measure_flutter/lib/src/method_channel/method_constants.dart
  flutter/packages/measure_flutter/lib/src/method_channel/msr_method_channel.dart
  flutter/packages/measure_flutter/lib/src/method_channel/msr_platform_interface.dart
  flutter/packages/measure_flutter/test/measure_test.dart
  flutter/packages/measure_flutter/test/utils/fake_measure.dart
  flutter/packages/measure_flutter/test/utils/test_method_channel.dart
  self-host/session-data/sh.measure.android.flutter.d/0.0.1/832a4d0f-6ffa-413c-940c-6da1b4839e47.json
  self-host/session-data/sh.measure.android.flutter.d/0.0.1/84070f97-1d23-4239-ac4e-2f668d676d05.json
  self-host/session-data/sh.measure.ios.flutter.d/0.0.1/357140ac-2cd9-4bc3-afd6-24b9fcb0aabf.json
  self-host/session-data/sh.measure.ios.flutter.d/0.0.1/blobs/2704c3b5-863b-4ca4-bf20-6613ba137e99
  self-host/session-data/sh.measure.ios.flutter.d/0.0.1/blobs/34ff6c82-272e-4cd6-8ffa-9570a1bd9cd1
  self-host/session-data/sh.measure.ios.flutter.d/0.0.1/blobs/3865d164-8fc7-4072-8c08-0adcb0bdd71f
  self-host/session-data/sh.measure.ios.flutter.d/0.0.1/blobs/57e3a7d6-58b6-4964-b44d-aacb1027c095
  self-host/session-data/sh.measure.ios.flutter.d/0.0.1/blobs/671081c7-ef25-4686-995f-b718caf247eb
  self-host/session-data/sh.measure.ios.flutter.d/0.0.1/blobs/6ee6f23d-75b6-4888-9890-77ec43f62c21
  self-host/session-data/sh.measure.ios.flutter.d/0.0.1/blobs/752055ce-af71-4340-acc0-e4d851b6fcec
  self-host/session-data/sh.measure.ios.flutter.d/0.0.1/blobs/852a96a4-5fad-4ca5-82ba-1f9476c376d3
  self-host/session-data/sh.measure.ios.flutter.d/0.0.1/blobs/8ff915c4-2034-403c-bb71-61a2ec2a57f2
  self-host/session-data/sh.measure.ios.flutter.d/0.0.1/blobs/90c3c487-f836-48c0-8cd6-1a2a1cf10ace
  self-host/session-data/sh.measure.ios.flutter.d/0.0.1/blobs/9bba9040-6591-4d56-ad1e-f4d04b0bfc92
  self-host/session-data/sh.measure.ios.flutter.d/0.0.1/blobs/9ff36d83-df2e-4100-b825-115a6020cc07
  self-host/session-data/sh.measure.ios.flutter.d/0.0.1/blobs/c11c0462-8e85-4f18-b6d8-be03f675e110
  self-host/session-data/sh.measure.ios.flutter.d/0.0.1/blobs/c1877136-f503-4f70-908c-7578eb538dde
  self-host/session-data/sh.measure.ios.flutter.d/0.0.1/blobs/d945e483-bced-4d24-bd78-73ffa11e9abf
  self-host/session-data/sh.measure.ios.flutter.d/0.0.1/blobs/ffda624c-e364-42a9-9fa7-0d932cbfa345
  self-host/session-data/sh.measure.ios.flutter.d/0.0.1/fd6bf350-5ab3-4a03-9c36-d7c1de70240e.json
Labels: feature, flutter

#2351 fix(ios): make attribute processor thread safe
  ios/MeasureSDK.xcodeproj/project.pbxproj
  ios/Sources/MeasureSDK/Swift/Attribute/Attribute.swift
  ios/Sources/MeasureSDK/Swift/Attribute/NetworkStateAttributeProcessor.swift
  ios/Sources/MeasureSDK/Swift/Attribute/UserAttributeProcessor.swift
  ios/Sources/MeasureSDK/Swift/Events/CustomEventCollector.swift
  ios/Sources/MeasureSDK/Swift/Events/InternalSignalCollector.swift
  ios/Sources/MeasureSDK/Swift/Events/SignalProcessor.swift
  ios/Sources/MeasureSDK/Swift/MeasureInitializer.swift
  ios/Sources/MeasureSDK/Swift/Utils/MeasureDispatchQueue.swift
  ios/Tests/MeasureSDKTests/Attribute/UserAttributeProcessorTests.swift
  ios/Tests/MeasureSDKTests/Event/EventProcessorTests.swift
  ios/Tests/MeasureSDKTests/Exporter/ExporterTests.swift
  ios/Tests/MeasureSDKTests/Mocks/MockMeasureDispatchQueue.swift
  ios/Tests/MeasureSDKTests/Mocks/MockMeasureInitializer.swift
  ios/Tests/MeasureSDKTests/Mocks/MockMotionManager.swift
Labels: bug, ios
